---
import BuildingName from '@components/markdoc/BuildingName.astro';
import BuildingContentBlock from '@components/markdoc/content/BuildingContentBlock.astro';
import WorkerName from '@components/markdoc/WorkerName.astro';

import type { BaseBuildingContentBlockProps } from '../types';

type Props = BaseBuildingContentBlockProps;
---

<BuildingContentBlock
  {...Astro.props}
  header="required resources"
  imageKey="required-resources"
  imageAlt="Required resources"
>
  <p>
    These are the resources that the <WorkerName {...Astro.props} /> will need for the workorder they are currently
    working on.
  </p>

  <ul>
    <li><b>Current project:</b> The top line tells you which work order is being worked on and its level.</li>
    <li><b>Step:</b> What step of the project the <WorkerName {...Astro.props} /> is on.</li>
    <li>
      <b>Supplied % / Used %:</b> How much of the needed resources are in the building inventory, and how many of the
      resources have been placed.
    </li>
    <li>
      <b>Items:</b> Each needed item is displayed, along with how many of that item is in inventory, and how many are
      needed. These amounts will change as they place blocks and will show only what blocks the <WorkerName
        {...Astro.props}
      /> still needs to place. The block in black are in their inventory. The blocks in red are the ones neither you nor
      the <BuildingName {...Astro.props} /> has in their inventory. The blocks in green are ones you have in inventory
      but the builder needs. Clicking the up arrow next to the item will automatically remove that item from your
      inventory and place it into the <BuildingName {...Astro.props} /> its inventory.
    </li>
  </ul>
</BuildingContentBlock>
