---
import { processDataText } from '@utils/processor';
import type { WikiPageData } from '@utils/wiki';

interface Props {
  building: WikiPageData<'building'>;
  setting: {
    name: string;
    description: string;
  };
}

const { building, setting } = Astro.props;

const description = processDataText(setting.description, building);
---

<span>
  <b>{setting.name}</b>: <Fragment set:html={description} />
</span>
