---
import { processDataText } from '@utils/processor';
import type { CollectionEntry } from 'astro:content';

interface Props {
  buildingId: CollectionEntry<'buildings'>['id'];
  setting: {
    name: string;
    description: string;
  };
}

const { buildingId, setting } = Astro.props;

const description = processDataText(setting.description, {
  type: 'building',
  building: {
    id: buildingId,
    collection: 'buildings'
  }
});
---

<span>
  <b>{setting.name}</b>: <Fragment set:html={description} />
</span>
