---
import BuildingContentBlock from '@components/markdoc/content/BuildingContentBlock.astro';
import { getBuildingData, getBuildingIdFromFrontmatter } from '@utils/building';

import type { BaseBuildingContentBlockProps } from '../types';
import SettingProcessor from './SettingProcessor.astro';

type Props = BaseBuildingContentBlockProps;

const { frontmatter, name } = Astro.props;

const buildingId = await getBuildingIdFromFrontmatter(frontmatter);
const buildingData = await getBuildingData(name ?? buildingId ?? '');
---

{
  buildingData.data.settings && (
    <BuildingContentBlock {...Astro.props} header="settings" imageKey="settings" imageAlt="Settings">
      <ul>
        {buildingData.data.settings.map((setting) => (
          <>
            <li>
              <SettingProcessor buildingId={buildingId ?? ''} setting={setting} />
            </li>
            {setting.options && (
              <ul>
                {setting.options.map((option) => (
                  <li>
                    <SettingProcessor buildingId={buildingId ?? ''} setting={option} />
                  </li>
                ))}
              </ul>
            )}
          </>
        ))}
      </ul>
    </BuildingContentBlock>
  )
}
