---
import BuildingName from '@components/markdoc/BuildingName.astro';
import BuildingContentBlock from '@components/markdoc/content/BuildingContentBlock.astro';

import type { BaseBuildingContentBlockProps } from '../types';

type Props = BaseBuildingContentBlockProps;
---

<BuildingContentBlock {...Astro.props} header="tasks" imageKey="tasks" imageAlt="Tasks">
  <p>
    This tab shows you any requests the <BuildingName {...Astro.props} /> is working on, and where it is going.
  </p>
</BuildingContentBlock>
