---
interface Props {
  group: string;
  autoplay?: number;
  navigation?: boolean;
  pagination?: boolean;
  class?: string;
}

const { group, autoplay, navigation = false, pagination = false, class: className } = Astro.props;
---

<div class:list={['slideshow-wrapper', className]} data-slideshow-group={group} data-autoplay={autoplay}>
  <div class="slideshow">
    <div class="slideshow-track" data-slideshow-track>
      <slot />
      {
        navigation && (
          <button class="slideshow-prev" data-slideshow-prev aria-label="Previous" tabindex="-1">
            &#8249;
          </button>
        )
      }
      {
        navigation && (
          <button class="slideshow-next" data-slideshow-next aria-label="Next" tabindex="-1">
            &#8250;
          </button>
        )
      }
    </div>
  </div>
  {pagination && <div class="slideshow-dots" data-slideshow-dots />}
</div>

<script>
  import { setup, setupNew } from '../../../scripts/slideshow';

  document.addEventListener('astro:page-load', setup);
  document.addEventListener('slideshow:setup', setupNew);
</script>

<style is:global>
  @import '../../../css/slideshow.scss';
</style>
