# Default ownership
* @ldtteam/minecolonies-wiki-admin

# Technical wiki implementation
src/** @ldtteam/minecolonies-wiki-contributor @ldtteam/minecolonies-wiki-admin

# Content/pages/docs
src/content/** @ldtteam/minecolonies-wiki-editor @ldtteam/minecolonies-wiki-contributor @ldtteam/minecolonies-wiki-admin
