@import '../bootstrap-vars.scss';

.sponsors-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .sponsors-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.support-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .support-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
