---
import BuildingName from '@components/wiki/names/BuildingName.astro';
import { type CollectionEntry, getEntry } from 'astro:content';

interface Props {
  requirement: Extract<CollectionEntry<'research'>['data']['requirements'][number], { type: 'building' }>;
}

const { requirement } = Astro.props;

const building = await getEntry(requirement.building);
---

{
  building.data.singular ? (
    <>
      <span>
        <BuildingName building={building} link />
      </span>
      <span> level {requirement.level}</span>
    </>
  ) : (
    <>
      <span>One or multiple </span>
      <span>
        <BuildingName building={building} plural link />
      </span>
      <span> totaling at least {requirement.level} levels</span>
    </>
  )
}
