---
import { type CollectionEntry } from 'astro:content';

interface Props {
  building: CollectionEntry<'buildings'>;
  worker: CollectionEntry<'workers'>;
  link?: boolean;
  plural?: boolean;
}

const { building, worker, link = false, plural = false } = Astro.props;

const name = plural ? worker.data.plural : worker.data.name;
---

{link ? <a href={`/wiki/buildings/${building.data.baseId}`}>{name}</a> : name}
