---
import Card from '../../Card.astro';

interface Props {
  title: string;
  class?: string;
  small?: boolean;
}

const { title, class: cssClass, small } = Astro.props;
---

<div class:list={['infobox', small ? 'infobox-small' : '']}>
  <Card class:list={['container', cssClass]} padding={2}>
    <h2 class="text-center">{title}</h2>
    <hr />

    <slot />
  </Card>
</div>

<style>
  .infobox {
    height: min-content;
  }

  .infobox-small {
    width: min-content;
  }
</style>
