---
import Card from '@components/ui/Card.astro';

interface Props {
  title: string;
  class?: string;
}

const { title, class: cssClass } = Astro.props;
---

<div class:list={['infobox', cssClass]}>
  <Card padding={2}>
    <h2 class="text-center">{title}</h2>
    <hr />

    <slot />
  </Card>
</div>

<style>
  .infobox {
    height: min-content;
    width: min-content;
  }
</style>
