---
import ItemInfoboxInternal from '@components/markdoc/infobox/ItemInfoboxCommon.astro';
import Wrapper from '@components/ui/infobox/Wrapper.astro';

interface Props {
  items: string[];
  cols: number;
}

const { items, cols } = Astro.props;
---

<Wrapper>
  <slot />

  <div class="grid infobox-container" slot="infobox">
    {items.map((item) => <ItemInfoboxInternal item={item} expand />)}
  </div>
</Wrapper>

<style lang="scss" define:vars={{ cols }}>
  .infobox-container {
    --bs-columns: var(--cols);
    --bs-gap: 1em;
    direction: rtl;
    height: min-content;
    float: right;

    :global(*) {
      direction: initial;
    }
  }
</style>
