---
import { getEntry } from 'astro:content';

import { getSortedVersions, getVersionedEntry } from '../../../../util/version';

interface Props {
  name: string;
}

const { name } = Astro.props;

const itemPage = await getEntry('wiki', 'items/' + name);
if (itemPage === undefined || itemPage.data.type === 'building' || itemPage.data.type === 'page') {
  throw new Error(`Item page '${name}' does not exist.`);
}

let title: string | undefined;
if (itemPage.data.type === 'item') {
  const versions = await getSortedVersions();
  for (const version of versions) {
    const itemData = await getVersionedEntry('items', version, itemPage.data.item);
    if (itemData !== undefined) {
      title = itemData.data.name;
      break;
    }
  }
} else {
  title = itemPage.data.title;
}
---

{
  '/wiki/' + Astro.locals.wikiPage?.id !== itemPage.id ? (
    <a href={'/wiki/' + itemPage.id}>{title}</a>
  ) : (
    <span>{title}</span>
  )
}
