---
interface Props {
  cols?: number;
}

const totalColCount = 12;

const { cols = 4 } = Astro.props;
---

<div class="grid py-3" style="--bs-columns: 12;">
  <div class={`g-col-md-${cols} g-col-12`}>
    <slot name="left" />
  </div>
  <div class={`g-col-md-${totalColCount - cols} g-col-12`}>
    <slot />
  </div>
</div>
