---
interface Props {
  imageUrl: string;
  imageAlt?: string;
  cols?: number;
}

const totalColCount = 12;

const { imageUrl, imageAlt = '', cols = 4 } = Astro.props;
---

<div class="row py-3">
  <div class={`col-md-${cols} col-12`}>
    <img src={imageUrl} alt={imageAlt} class="img-fluid mx-auto" />
  </div>
  <div class={`col-md-${totalColCount - cols} col-12`}>
    <slot />
  </div>
</div>
