{% assign img = include.image | default "" %}
{% if img == "" %}
  {% assign cols_img = 0 %}
  {% assign cols_content = 12 %}
{% else %}
  {% assign cols_img = include.image_width | default: 6 %}
  {% assign cols_content = 12 | minus: cols_img %}
{% endif %}

<div class="row py-3">
  {% if img != "" %}
    <div class="col-md-{{ cols_img }} col-12">
      <img
        alt="{{ include.alt | default: 'Image' | strip }}"
        class="img-fluid mx-auto"
        src="{{ img }}">
    </div>
  {% endif %}
  <div class="col-md-{{ cols_content }} col-12">
    <p>{{- include.content | strip -}}</p>
  </div>
</div>
