---
interface Props {
  class?: string;
  padding?: number;
  autoSize?: boolean;
}

const { class: cssClass, padding = 1.5, autoSize = false } = Astro.props;
---

<div class:list={['app-card', autoSize ? '' : 'app-card-min', cssClass]} style={{ padding: `${padding}em` }}>
  <slot />
</div>

<style lang="scss">
  .app-card {
    border-image-source: url('/images/card/light.png');
    border-image-slice: 16 16 fill;
    border-image-width: 16px 16px;
    border-image-repeat: round;

    .app-card-min {
      width: min-content;
    }
  }

  :global(.dark) .app-card {
    border-image-source: url('/images/card/dark.png');
  }
</style>
