<!-- HEADER -->
<header class="container">
  <h1 class="header">MineColonies Wiki</h1>
</header>

<!-- NAVBAR PRIMARY -->
<nav class="navbar navbar-expand-lg navbar-default main">
  <div class="container">
    <button class="navbar-toggler" type="button" id="navbarSideButton" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="https://minecolonies.com" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="https://forum.minecolonies.com" class="nav-link">Forums</a>
        </li>
        <li class="nav-item">
          <a href="https://minecolonies.com/about.php" class="nav-link">About The Mod</a>
        </li>
        <li class="nav-item active">
          <a href="https://wiki.minecolonies.com/" class="nav-link">Wiki</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/Minecolonies/minecolonies/issues/new" class="nav-link">Bug Reports</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="https://github.com/ldtteam/MinecoloniesWiki/edit/master/{{ page.path }}" class="nav-link">Edit this page <i class="fa fa-github"></i></a>
        </li>
      </ul>
      
    </div>
  </div>

  <ul class="navbar-side" id="navbarSide">
    <div class="sidenav-title">
      <h1 class="text-center">Minecolonies Wiki</h1>
    </div>
    <hr />
    <li class="navbar-side-item">
      <a href="https://minecolonies.com" class="side-link">Home</a>
    </li>
    <li class="navbar-side-item">
      <a href="https://forum.minecolonies.com" class="side-link">Forums</a>
    </li>
    <li class="navbar-side-item">
      <a href="https://minecolonies.com/about.php" class="side-link">About The Mod</a>
    </li>
    <li class="navbar-side-item">
      <a href="https://wiki.minecolonies.com/" class="side-link active">Wiki</a>
    </li>
    <li class="navbar-side-item">
      <a href="https://github.com/Minecolonies/minecolonies/issues/new" class="side-link">Bug Reports</a>
    </li>

    <hr />
    <li class="navbar-side-item">
      <a href="{{ site.baseurl }}" class="nav-link">Wiki Home</a>
    </li>
    {% for item in site.data.subnav.subnav %}
      <li class="navbar-side-item dropdown">
        <a class="side-link dropdown-toggle" id="{{ item.title }}DropdownSidenav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.title }}</a>
        <div class="dropdown-menu" aria-labelledby="{{ item.title }}DropdownSidenav">
          {% for entry in item.subitems %}
            <a class="dropdown-item" href="{{ entry.url | relative_url }}">{{ entry.page }}</a>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div class="overlay"></div>
  </nav>

  <!-- NAVBAR SECONDARY -->
  <nav class="navbar navbar-expand-lg navbar-default secondary">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarsec">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{{ site.baseurl }}" class="nav-link">Wiki Home</a>
        </li>
        {% for item in site.data.subnav.subnav %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="{{ item.title }}Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.title }}</a>
            <div class="dropdown-menu" aria-labelledby="{{ item.title }}Dropdown">
              {% for entry in item.subitems %}
                <a class="dropdown-item" href="{{ entry.url | relative_url }}">{{ entry.page }}</a>
              {% endfor %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- /NAVBAR SECONDARY -->