<nav class="sidenav" id="navbarSide">
  <div class="sidenav-title">
    <p class="text-center">MineColonies Wiki</p>
  </div>
  <hr/>
  <ul class="sidenav-nav">
    <li class="sidenav-item">
      <div class="sidenav-link d-flex mr-3">
        <button class="theme-toggle btn btn-secondary fas mr-2" onclick="switchTheme()"></button>
        {% include util/version-select.html %}
      </div>
    </li>
  </ul>
  <hr/>
  <ul class="sidenav-nav">
    <li class="sidenav-item">
      <a class="sidenav-link" href="https://minecolonies.com">Home</a>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link" href="https://minecolonies.com/about">About the Mod</a>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link" href="https://minecolonies.com/team">Our Team</a>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link active" href="https://wiki.minecolonies.ldtteam.com/">Wiki</a>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link" href="https://crowdin.com/project/minecolonies">Translate</a>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link" href="https://github.com/ldtteam/minecolonies/issues/new/choose">Report a Bug</a>
    </li>
  </ul>
  <hr/>
  <ul class="sidenav-nav">
    <li class="sidenav-item">
      <a class="sidenav-link" href="{{ site.baseurl }}">Wiki Home</a>
    </li>
    {% for item in site.data.subnav.subnav %}
      <li class="sidenav-item dropdown">
        <a
          aria-expanded="false"
          aria-haspopup="true"
          class="sidenav-link dropdown-toggle"
          data-display="static"
          data-toggle="dropdown"
          id="{{ item.title }}DropdownSidenav"
          role="button">
          {{- item.title -}}
        </a>
        <div aria-labelledby="{{ item.title }}DropdownSidenav" class="dropdown-menu">
          {% case item.type %}
            {% when "buildings" %}
              {% for entry in site.data.buildinginfo %}
                {% building_link entry[0] class="dropdown-item" %}
              {% endfor %}
            {% when "workers" %}
              {% assign grouped = site.data.workerinfo | group_by_exp: "item", "item[1].type | default: "default"" %}
              {% for group in grouped %}
                {% unless forloop.first %}
                  <div class="dropdown-divider"></div>
                {% endunless %}
                <h6 class="dropdown-header">
                  {{- site.data.workertypes[group.name].name -}}
                </h6>
                {% for entry in group.items %}
                  {% worker_link entry[0] class="dropdown-item" %}
                {% endfor %}
              {% endfor %}
            {% else %}
              {% for entry in item.subitems %}
                <a class="dropdown-item" href="{{ entry.url | relative_url }}">{{- entry.page -}}</a>
              {% endfor %}
          {% endcase %}
        </div>
      </li>
    {% endfor %}
    <li class="sidenav-item">
      <a class="sidenav-link" href="{{ 'source/search' | relative_url }}">Search</a>
    </li>
  </ul>
  <hr/>
  <ul class="sidenav-nav sidenav-social text-center">
    {% for social in site.data.socials %}
      <li class="sidenav-item">
        <a
          aria-label="{{ social.name }}"
          class="sidenav-link"
          href="{{ social.link }}">
          <i class="fab fa-{{ social.icon }} social-icon-{{ social.id }}"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
<div class="overlay"></div>
