<table>
    <thead>
        <tr>
            <th>Worker</th>
            <th>Primary Skill</th>
            <th>Secondary Skill</th>
            <th>Primary Skill Effect</th>
            <th>Secondary Skill Effect</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in site.data.workerinfo %}
            <tr>
                <td>
                    {% assign key = entry[0] %}
                    {% include links/worker.html key=key %}
                </td>
                <td>{{ entry[1].traits.primary | default: "***No primary trait***" | markdownify }}</td>
                <td>{{ entry[1].traits.secondary | default: "***No secondary trait***" | markdownify }}</td>
                <td>{{ entry[1].effects.primary | default: "***No primary effect***" | markdownify }}</td>
                <td>{{ entry[1].effects.secondary | default: "***No secondary effect***" | markdownify }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>