---
import Card from '../../common/basic/Card.astro';

interface Props {
  id: string;
  width?: number;
}

const { id, width = 100 } = Astro.props;
---

<div class="youtube-embed" style={`width: ${width}%`}>
  <Card autoSize padding={0.85}>
    <iframe
      src={`https://www.youtube-nocookie.com/embed/${id}`}
      title="YouTube video player"
      loading="lazy"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </Card>
</div>

<style>
  .youtube-embed {
    position: relative;
    margin-bottom: 1em;
  }

  .youtube-embed iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
</style>
