{% if include.unlocks.size > 0 %}
  <ul class="list-unstyled">
    {% for unlock in include.unlocks | sort: "type" %}
      {% assign type = unlock.type | default: "custom" %}
      {% case type %}
        {% when "building" %}
          {% capture building_link %}
            {%- building_link unlock.building -%}
          {% endcapture %}
          {% assign text = "Unlocks the " | append: building_link %}

        {% when "building:min_stock" %}
          {% assign text = "Buildings can minimum stock **" | append: unlock.percentage | append: "%** more" | markdownify %}

        {% when "building:custom_template" %}
          {% capture building_link %}
            {%- building_link unlock.building plural=unlock.plural -%}
          {% endcapture %}
          {% assign text = unlock.template | replace: "{0}", building_link | markdownify %}

        {% when "colonist:amount" %}
          {% if unlock.max == true %}
            {% assign text = "Increases the colony it's colonists capacity to the maximum amount of colonists in the [config file](/source/misc/configfile)" | markdownify %}
          {% else %}
            {% assign colonists = "colonists" %}
            {% if unlock.colonists == 1 %}
              {% assign colonists = "colonist" %}
            {% endif %}
            {% assign text = "Increases the colony it's colonist capacity to a total of **" | append: unlock.colonists | append: "** " | append: colonists | markdownify %}
          {% endif %}

        {% when "colonist:level_up" %}
          {% assign text = "Increases the rate colonists level up by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "colonist:health" %}
          {% assign hearts = "hearts" %}
          {% if unlock.hearts == 1 %}
            {% assign hearts = "heart" %}
          {% endif %}
          {% assign text = "Increases colonists their health by **" | append: unlock.hearts | append: "** " | append: hearts | markdownify %}

        {% when "colonist:happiness" %}
          {% assign text = "Increases colonists their happiness by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "colonist:saturation" %}
          {% assign text = "Food is **" | append: unlock.percentage | append: "%** more effective at restoring colonists their saturation" | markdownify %}

        {% when "colonist:speed" %}
          {% assign text = "Increases colonists their speed by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "colonist:bedtime" %}
          {% assign cumulative = "" %}
          {% if unlock.cumulative == true %}
            {% assign cumulative = " (cumulative with prerequisite research)" %}
          {% endif %}
          {% assign text = "Colonists' bedtime is pushed back by **" | append: unlock.hours | append: "** in-game hour" | append: cumulative | markdownify %}

        {% when "colonist:child:grow_up" %}
          {% assign text = "Decreases the time it takes children to grow up by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "colonist:build_speed" %}
          {% assign text = "Colonists' block place speed increased by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "colonist:break_speed" %}
          {% assign text = "Colonists' block break speed increased by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "colonist:tool:durability" %}
          {% assign text = "Colonists' tools durability increased by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "worker:recipes" %}
          {% assign text = "Workers can learn **" | append: unlock.percentage | append: "%** more recipes" | markdownify %}

        {% when "worker:inventory" %}
          {% assign text = "Citizen inventory increased by **" | append: unlock.amount | append: "** slots" | markdownify %}

        {% when "worker:teacher:effectiveness" %}
          {% capture teachers_link %}
            {%- worker_link teacher plural=true -%}
          {% endcapture %}
          {% assign text = "Increases the effectiveness of " | append: teachers_link | append: " by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "worker:undertaker:resurrect_chance" %}
          {% capture undertakers_link %}
            {%- worker_link undertaker plural=true -%}
          {% endcapture %}
          {% assign text = "Increases the " | append: undertakers_link | append: " chances of resurrecting citizens by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "worker:undertaker:grave_despawn" %}
          {% assign text = "Graves take **" | append: unlock.minutes | append: "** more minutes before decaying" | markdownify %}

        {% when "worker:composter:podzol" %}
          {% capture composter_link %}
            {%- worker_link composter plural=true -%}
          {% endcapture %}
          {% assign text = composter_link | append: " get **+" | append: unlock.percentage | append: "%** more podzol" | markdownify %}

        {% when "worker:farmer:harvest" %}
          {% capture farmer_link %}
            {%- worker_link farmer plural=true -%}
          {% endcapture %}
          {% assign text = farmer_link | append: " harvest **" | append: unlock.percentage | append: "%** more crops" | markdownify %}

        {% when "worker:miner:ore" %}
          {% capture miner_link %}
            {%- worker_link miner plural=true -%}
          {% endcapture %}
          {% assign text = miner_link | append: " find **" | append: unlock.percentage | append: "%** more ores" | markdownify %}

        {% when "worker:guard:armor_durability" %}
          {% assign text = "Increases Guards their armor's durability by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "worker:guard:armor" %}
          {% capture worker_link %}
            {%- worker_link unlock.worker plural=true -%}
          {% endcapture %}
          {% assign text = "Increases " | append: worker_link | append: " their armor by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "worker:guard:flee_damage" %}
          {% assign text = "When Guards are fleeing the damage they take is reduced by by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "worker:guard:flee_speed" %}
          {% assign text = "Increases Guards their fleeing speed by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "worker:guard:damage" %}
          {% assign hearts = "hearts" %}
          {% if unlock.hearts == 1 %}
            {% assign hearts = "heart" %}
          {% endif %}
          {% capture worker_link %}
            {%- worker_link unlock.worker plural=unlock.plural -%}
          {% endcapture %}
          {% assign text = "Increases " | append: worker_link | append: " damage by **" | append: unlock.hearts | append: "** " | append: hearts | markdownify %}

        {% when "worker:knight:block" %}
          {% capture knight_link %}
            {%- worker_link knight plural=true -%}
          {% endcapture %}
          {% assign text = "Increases the chance for " | append: knight_link | append: " to block attacks by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% when "worker:archer:multishot" %}
          {% capture archer_link %}
            {%- worker_link archer plural=true -%}
          {% endcapture %}
          {% assign text = "**" | append: unlock.percentage | append: "%** chance for " | append: archer_link | append: " to shoot 2 arrows at the same time" | markdownify %}

        {% when "worker:custom_template" %}
          {% capture worker_link %}
            {%- worker_link unlock.worker plural=unlock.plural -%}
          {% endcapture %}
          {% assign text = unlock.template | replace: "{0}", worker_link | markdownify %}

        {% when "healing:percent" %}
          {% assign text = "Every tick that a colonist is healing, they heal by **" | append: unlock.percentage | append: "%** more" | markdownify %}

        {% when "healing:saturation" %}
          {% assign text = "Colonists can heal with only **" | append: unlock.saturation | append: "%** saturation" | markdownify %}

        {% when "gates:resistance" %}
          {% assign text = "Gates resistance increased by **" | append: unlock.percentage | append: "%**" | markdownify %}

        {% else %}
          {% assign text = unlock | markdownify %}

      {% endcase %}
      <li>{{- text -}}</li>
    {% endfor %}
  </ul>
{% endif %}
