---
import type { CollectionEntry } from 'astro:content';

import { toTitleCase } from '../../../util/string';
import BuildingName from '../BuildingName.astro';

interface Props {
  requirement: NonNullable<CollectionEntry<'research'>['data']['requirements']>[number];
}

const requirement = Astro.props.requirement;
---

{
  requirement.type === 'building' && (
    <li>
      <span>One or multiple&nbsp;</span>
      <BuildingName name={requirement.building.id} link plural />
      <span>&nbsp;totaling at least {requirement.level} levels</span>
    </li>
  )
}

{
  requirement.type === 'item' && (
    <li>
      <b>{requirement.quantity}</b>x&nbsp;
      <span>{toTitleCase(requirement.item)}</span>
    </li>
  )
}
