---
import VersionedItemName from '@components/markdoc/names/items/VersionedItemName.astro';
import { getItemData } from '@utils/items';
import type { ResearchRequirement } from 'src/content/_research';

import ResearchRequirementBuilding from './ResearchRequirementBuilding.astro';

interface Props {
  requirement: ResearchRequirement;
}

const { requirement } = Astro.props;
---

{
  requirement.type === 'building' && (
    <li>
      <ResearchRequirementBuilding requirement={requirement} />
    </li>
  )
}

{
  requirement.type === 'item' && (
    <li>
      <b>{requirement.quantity}</b>x&nbsp;
      <span>
        {requirement.items.map(async (item) => {
          try {
            const names = await getItemData(item);
            return <VersionedItemName data={names} />;
          } catch {
            return <p>{item}</p>;
          }
        })}
      </span>
    </li>
  )
}
