---
import BuildingName from '@components/wiki/names/BuildingName.astro';
import { type CollectionEntry, getEntry } from 'astro:content';

interface Props {
  requirement: Extract<CollectionEntry<'research'>['data']['requirements'][number], { type: 'building' }>;
}

const { requirement } = Astro.props;

const building = await getEntry(requirement.building);
---

{
  building.data.singular ? (
    <li>
      <BuildingName building={building} link />
      <span>&nbsp;level {requirement.level}</span>
    </li>
  ) : (
    <li>
      <span>One or multiple&nbsp;</span>
      <BuildingName building={building} plural link />
      <span>&nbsp;totaling at least {requirement.level} levels</span>
    </li>
  )
}
