---
import type { WikiItemPageCombinedSelf } from '@utils/items';

interface Props {
  currentPage: string;
  page: WikiItemPageCombinedSelf;
}

const { currentPage, page } = Astro.props;
---

{
  currentPage === page.page.slug ? (
    <span>{page.page.data.title}</span>
  ) : (
    <a href={'/wiki/' + page.page.slug}>{page.page.data.title}</a>
  )
}
