---
import VersionOverride from '@components/version/VersionOverride.astro';
import { getItemLink } from '@utils/items';
import type { CollectionEntry } from 'astro:content';

interface Props {
  item: CollectionEntry<'items'>;
  link?: boolean;
}

const { item, link = true } = Astro.props;
---

{
  link ? (
    <a href={await getItemLink(item)}>
      <VersionOverride value={item.data} fieldGetter={(i) => i.name} default="" />
    </a>
  ) : (
    <VersionOverride value={item.data} fieldGetter={(i) => i.name} default="" />
  )
}
