---
import VersionContent from '@components/version/VersionContent.astro';
import type { ResultItemData } from '@utils/items';

interface Props {
  data: ResultItemData;
  link?: boolean;
}

const { data, link = true } = Astro.props;
---

{
  data.data.map((name) => (
    <VersionContent versions={name.versions} inline>
      {link && data.link ? <a href={data.link}>{name.name}</a> : <span>{name.name}</span>}
    </VersionContent>
  ))
}
