---
import VersionContent from '@components/version/VersionContent.astro';
import {
  getBuildingData,
  getBuildingIdFromFrontmatter,
  getBuildingLink,
  groupBuildingDataByVersion,
  type MarkdocBuildingComponent
} from '@utils/building';

interface Props extends MarkdocBuildingComponent {
  plural?: boolean;
}

const { frontmatter, name, plural = false } = Astro.props;

const buildingId = await getBuildingIdFromFrontmatter(frontmatter);
const buildingData = await getBuildingData(name ?? buildingId ?? '');
const buildingDataPerVersion = await groupBuildingDataByVersion(buildingData);
const link = getBuildingLink(buildingData);
---

{
  buildingDataPerVersion.map(async (building) => (
    <VersionContent versions={building.versions} inline>
      {frontmatter?.type !== 'building' || buildingId !== buildingData.id ? (
        <a href={link}>{plural ? building.item.data.plural : building.item.data.name}</a>
      ) : (
        <span>{plural ? building.item.data.plural : building.item.data.name}</span>
      )}
    </VersionContent>
  ))
}
