---
import VersionContent from '@components/version/VersionContent.astro';
import {
  getBuildingData,
  getBuildingIdFromFrontmatter,
  getBuildingLink,
  groupBuildingDataByVersion,
  type MarkdocBuildingComponent
} from '@utils/building';

interface Props extends MarkdocBuildingComponent {
  plural?: boolean;
}

const { frontmatter, name, plural = false } = Astro.props;

const buildingId = await getBuildingIdFromFrontmatter(frontmatter);
const buildingData = await getBuildingData(name ?? buildingId ?? '');
const buildingNames = await groupBuildingDataByVersion(buildingData, (data) => (plural ? data.plural : data.name));
const link = getBuildingLink(buildingData);
---

{
  buildingNames.map(async (buildingName) => (
    <VersionContent versions={buildingName.versions} inline>
      {frontmatter?.type !== 'building' || buildingId !== buildingData.id ? (
        <a href={link}>{buildingName.item.data}</a>
      ) : (
        <span>{buildingName.item.data}</span>
      )}
    </VersionContent>
  ))
}
