---
import VersionContent from '@components/version/VersionContent.astro';
import { getBuildingData, getBuildingLink } from '@utils/building';
import { getWorkerData, getWorkerIdFromFrontmatter, getWorkerName, type MarkdocWorkerComponent } from '@utils/workers';
import { type CollectionEntry, getCollection } from 'astro:content';

interface Props extends MarkdocWorkerComponent {
  building?: string;
  plural?: boolean;
}

const { frontmatter, name, building, plural = false } = Astro.props;

const workerId = await getWorkerIdFromFrontmatter(frontmatter);
const workerTarget = name ?? workerId ?? '';
const workerData = await getWorkerData(workerTarget);
const workerDataPerVersion = await groupWorkerDataByVersion(workerData);
const buildingData = await getWorkerReferenceBuilding(building, frontmatter, workerData);
const buildingLink = getBuildingLink(buildingData);
---

{
  workerDataPerVersion.map(async (worker) => (
    <VersionContent versions={worker.versions} inline>
      {frontmatter?.type !== 'building' || workerId !== workerData.id ? (
        <a href={buildingLink}>{plural ? worker.item.data.plural : worker.item.data.name}</a>
      ) : (
        <span>{plural ? worker.item.data.plural : worker.item.data.name}</span>
      )}
    </VersionContent>
  ))
}
