---
import VersionContent from '@components/version/VersionContent.astro';
import { getWorkerData, getWorkerIdFromFrontmatter, getWorkerName, type MarkdocWorkerComponent } from '@utils/workers';
import { getCollection } from 'astro:content';

interface Props extends MarkdocWorkerComponent {
  plural?: boolean;
}

const { frontmatter, name, plural = false } = Astro.props;

const workerId = await getWorkerIdFromFrontmatter(frontmatter);
const workerData = await getWorkerData(name ?? workerId ?? '');
const versions = await getCollection('versions');

const versionedContent = await Promise.all(
  versions.map(async (version) => ({
    version,
    name: await getWorkerName(version, workerData, plural)
  }))
);
---

{
  versionedContent.map(async (version) => (
    <VersionContent versions={[version.version]} inline>
      <span>{version.name}</span>
    </VersionContent>
  ))
}
