---
import { getCollection, getEntry } from 'astro:content';

import WorkerNameAllVersions from './names/WorkerNameAllVersions.astro';

const workers = await getCollection('workers');
---

<table class="table table-hover">
  <thead>
    <tr>
      <th>Worker</th>
      <th>Primary Skill</th>
      <th>Primary Skill Effect</th>
      <th>Secondary Skill</th>
      <th>Secondary Skill Effect</th>
    </tr>
  </thead>
  <tbody>
    {
      workers.map(async (worker) => {
        const building = await getEntry(worker.data.primaryBuilding);
        return (
          <tr>
            <td>
              <WorkerNameAllVersions building={building} worker={worker} />
            </td>
            <td>{worker.data.traits.primary?.name ?? '-'}</td>
            <td>{worker.data.traits.primary?.effect ?? '-'}</td>
            <td>{worker.data.traits.secondary?.name ?? '-'}</td>
            <td>{worker.data.traits.secondary?.effect ?? '-'}</td>
          </tr>
        );
      })
    }
  </tbody>
</table>
