---
import type { CollectionEntry } from 'astro:content';

import { getOverrideValue } from '../../../../util/override';

interface Props {
  version: CollectionEntry<'versions'>;
  building: CollectionEntry<'buildings'>;
  link?: boolean;
  plural?: boolean;
}

const { version, building, link = false, plural = false } = Astro.props;

const name = await getOverrideValue(building.data, (data) => (plural ? data.plural : data.name), version);
---

{link ? <a href={`/wiki/buildings/${building.id}`}>{name}</a> : name}
