---
import type { CollectionEntry } from 'astro:content';

interface Props {
  building: CollectionEntry<'buildings'>;
  link?: boolean;
  plural?: boolean;
}

const { building, link = false, plural = false } = Astro.props;

const name = plural ? building.data.plural : building.data.name;
---

{link ? <a href={`/wiki/buildings/${building.data.baseId}`}>{name}</a> : name}
