---
---

@import "{{ site.theme }}";
@import "https://fonts.googleapis.com/css?family=Roboto";

/* VARIABLES */
$mcurl: 'https://minecolonies.com';

/* FONTS */
@font-face {
	font-family: 'Comic Book';
	src: url("../fonts/Comic Book.otf");
}

@font-face {
	font-family: 'Colonial Dame';
	src: url("../fonts/Colonial Dame.ttf");
}

/* STYLES */
.bg {
	background-color: #fffaee;
}

.bgscroll {
	background:
		url(#{$mcurl}/img/bg_corner_top_left.jpg) top left no-repeat,
		url(#{$mcurl}/img/bg_corner_top_right.jpg) top right no-repeat,
		url(#{$mcurl}/img/bg_corner_bottom_left.jpg) bottom left no-repeat,
		url(#{$mcurl}/img/bg_corner_bottom_right.jpg) bottom right no-repeat,
		url(#{$mcurl}/img/bg_middle_left.jpg) left center repeat-y,
		url(#{$mcurl}/img/bg_middle_right.jpg) right center repeat-y,
		url(#{$mcurl}/img/bg_top.jpg) top center repeat-x,
		url(#{$mcurl}/img/bg_middle_bottom.jpg) bottom center repeat-x;
	width: 100%;
}

body {
	background: transparent;
	margin: 0;
	font-family: 'Times New Roman', Roboto, sans-serif;
}

.header {
	font-family: "Colonial Dame", sans-serif, ti;
    font-size: 8rem;
    line-height: 100px;
    padding: 50px 2px 10px 2px;
    margin: 2px;
    color: transparent;
    text-shadow: -2px -2px 3px rgba(255,255,255,.5),
        -3px -2px 2px #EEE,
        -3px -2px 0 #000,
        0 1px 0 #000;
	text-align: center;
}

.navbar.main {
    font-family: "Comic Book", sans-serif;
	background: url(#{$mcurl}/img/NavbarRibbon.png) center/100% 100% no-repeat;
	width: 99%;
	height: 68px;
	color: white;
	font-size: 12pt;
	margin: auto;
}

@media (max-width: 991px) {
	.navbar.main {
		background: url(#{$mcurl}/img/navbarribbon_small.png) center/100% 100% no-repeat;
	}
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar.main a:link,
.navbar.main a:visited {
    color: #fff;
}

.active,
.navbar.main a:hover,
.navbar.main a:focus {
    text-decoration: none;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.navbar.secondary {
    font-family: "Comic Book", Roboto, sans-serif;
	background: url(#{$mcurl}/img/Ribbon.png) center/100% 100% no-repeat;
	width: 99%;
	height: 28px;
	color: white;
	font-size: 12pt;
	margin: 10px auto 0;
}

@media (max-width: 991px) {
    .navbar.secondary {
        display: none;
    }
}

.navbar .nav:nth-child(1) {
	padding-bottom: 6px;
}

.navbar.secondary {
    font-family: "Comic Book", Roboto, sans-serif;
	background: url(#{$mcurl}/img/Ribbon.png) center/100% 100% no-repeat;
	width: 99%;
	height: 28px;
	color: white;
	font-size: 12pt;
	margin: 10px auto 0;
}

.dropdown {
	cursor: pointer;
}

.ribbon {
	background: url(#{$mcurl}/img/Ribbon.png) center/100% 100% no-repeat;
	width: 99%;
	text-align: center;
	height: 28px;
	margin: auto;
	color: #fff;
}

.dropdown-menu {
	background-color: #FDF6E5!important;
	border: 3px solid #E0D2AE;
}

.dropdown-item {
	color: #000!important;
}

.content {
	padding-top: 10px;
}

img {
	vertical-align: middle;
	border-style: none;
}

h1 {
	text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.footer {
	padding-bottom: 40px;
}