---
import Layout from '@layouts/Default.astro';
---

<Layout title="Page Not Found" showHeader={false}>
  <p class="title text-center">404</p>
  <p class="subtitle text-muted text-center">Page Not Found</p>
</Layout>

<style>
  .title {
    font-size: xxx-large;
  }

  .subtitle {
    font-size: large;
  }
</style>
