---
import SocialBanner from '@components/ui/SocialBanner.astro';
import Layout from '@layouts/Default.astro';
---

<Layout title="Home" showHeader={false}>
  <div class="background">
    <h1 class="text-center">Welcome to MineColonies!</h1>
    <p>
      Minecolonies is a town building mod that allows you to create your own thriving Colony within Minecraft! With
      features including many NPC workers, buildings, a fantastic building tool and a robust permissions system in
      multiplayer, you can have the Colony of your dreams!
    </p>

    <p>
      To install the mod, please view the installation instructions <a href="/wiki/installation/installation">here</a>.
    </p>

    <div class="social pt-5">
      <SocialBanner social="patreon" center class="fs-5">Become a Patron</SocialBanner>
      <SocialBanner social="discord" center class="fs-5">Join our Discord</SocialBanner>
    </div>
  </div>
</Layout>

<style>
  .background {
    background-color: var(--background-color);
    padding: 1em;
    border-radius: 1em;
  }

  p {
    font-size: 1.25em;
  }

  .social {
    display: flex;
    justify-content: space-evenly;
  }
</style>
