---
import '../css/module/SupportUs.scss';
import Ribbon from '../components/Ribbon.astro';
import Layout from '../layouts/Default.astro';

import SupporterRow from '../components/SupporterRow.astro';
import SponsorRow from '../components/SponsorRow.astro';
import Card from '../components/Card.astro';
import SupportRibbons from '../components/SupportRibbons.astro';
import { getEntry } from 'astro:content';

const sponsors = await getEntry('sponsors', 'sponsors');
const supporters = await getEntry('supporters', 'supporters');
---

<Layout title="Support Us" header="Why should you support us?">
  <p>
    MineColonies is being developed by a passionate group of people in their
    free time, taking up considerable resources to maintain and improve almost
    on a daily basis.
  </p>
  <p>
    Please consider supporting us via one of the options below since that is
    basically the only source of income this project is able to generate. We
    appreciate all support we can get and are incredibly thankful to our amazing
    community and all the awesome active donors.
  </p>
  <hr />
  <SupportRibbons class="mb-3" />

  <Ribbon title="Sponsors" center />

  <div class="sponsors-grid my-3">
    {sponsors.data.map((sponsor) => <SponsorRow sponsor={sponsor} />)}
    <Card class="d-flex">
      <p class="m-auto lead">Your company could be here!</p>
    </Card>
  </div>

  <Ribbon title="Our Top Supporters" center />

  <div class="support-grid my-3">
    {supporters.data.map((supporter) => <SupporterRow supporter={supporter} />)}
  </div>
</Layout>
