---
import SponsorRow from '@components/SponsorRow.astro';
import SupporterRow from '@components/SupporterRow.astro';
import SupportRibbons from '@components/SupportRibbons.astro';
import Banner from '@components/ui/Banner.astro';
import Card from '@components/ui/Card.astro';
import Layout from '@layouts/Default.astro';
import { getEntry } from 'astro:content';

const sponsors = await getEntry('sponsors', 'sponsors');
const supporters = await getEntry('supporters', 'supporters');
---

<Layout title="Support Us" header="Why should you support us?">
  <p>
    MineColonies is being developed by a passionate group of people in their free time, taking up considerable resources
    to maintain and improve almost on a daily basis.
  </p>
  <p>
    Please consider supporting us via one of the options below since that is basically the only source of income this
    project is able to generate. We appreciate all support we can get and are incredibly thankful to our amazing
    community and all the awesome active donors.
  </p>
  <hr />
  <SupportRibbons class="mb-3" />

  <Banner center>Sponsors</Banner>

  <div class="sponsors-grid my-3">
    {sponsors.data.map((sponsor) => <SponsorRow sponsor={sponsor} />)}
    <Card class="d-flex" autoSize>
      <p class="m-auto lead">Your company could be here!</p>
    </Card>
  </div>

  <Banner center>Our Top Supporters</Banner>

  <div class="support-grid my-3">
    {supporters.data.map((supporter) => <SupporterRow supporter={supporter} />)}
  </div>
</Layout>

<style lang="scss">
  @import '../css/bootstrap-vars.scss';

  .sponsors-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: 1fr;
    gap: 1em;
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    .sponsors-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .support-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: 1fr;
    gap: 1em;
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    .support-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
</style>
