---
import SponsorRow from '@components/SponsorRow.astro';
import SupporterRow from '@components/SupporterRow.astro';
import Banner from '@components/ui/Banner.astro';
import Card from '@components/ui/Card.astro';
import SocialBanner from '@components/ui/SocialBanner.astro';
import Layout from '@layouts/Default.astro';
import { getCollection } from 'astro:content';

const sponsors = await getCollection('sponsors');
const supporters = await getCollection('supporters');
---

<Layout title="Support Us" header="Why should you support us?" fluid>
  <div class="container">
    <p>
      MineColonies is being developed by a passionate group of people in their free time, taking up considerable
      resources to maintain and improve almost on a daily basis.
    </p>
    <p>
      Please consider supporting us via one of the options below since that is basically the only source of income this
      project is able to generate. We appreciate all support we can get and are incredibly thankful to our amazing
      community and all the awesome active donors.
    </p>
    <hr />

    <div class="socials-grid mb-3">
      <SocialBanner id="patreon" center>Become a Patron</SocialBanner>
      <SocialBanner id="discord" center>Join our Discord</SocialBanner>
      <SocialBanner id="twitch" center>Subscribe on Twitch</SocialBanner>
      <SocialBanner id="paypal" center>Donate via PayPal</SocialBanner>
    </div>
  </div>

  <Banner center>Sponsors</Banner>

  <div class="container sponsors-grid my-3">
    {sponsors.map((sponsor) => <SponsorRow sponsor={sponsor} />)}
    <Card class="d-flex" autoSize>
      <p class="m-auto lead">Your company could be here!</p>
    </Card>
  </div>

  <Banner center>Our Top Supporters</Banner>

  <div class="container support-grid my-3">
    {supporters.map((supporter) => <SupporterRow supporter={supporter} />)}
  </div>
</Layout>

<style lang="scss">
  @import '../css/bootstrap-vars.scss';

  .socials-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    gap: 1em;
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    .socials-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .sponsors-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1em;
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    .sponsors-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .support-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1em;
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    .support-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
