---
import { getCollection } from 'astro:content';

interface Props {
  format: 'join' | 'list';
}

const format = Astro.props.format;

const allTrees = await getCollection('research_tree');

const treesByName = new Map<string, typeof allTrees>();
allTrees.forEach((tree) => {
  if (!treesByName.has(tree.data.baseId)) {
    treesByName.set(tree.data.baseId, []);
  }
  const group = treesByName.get(tree.data.baseId);
  if (group) {
    group.push(tree);
  }
});

const uniqueTrees = Array.from(treesByName.values()).map((trees) => trees[0]);

function getTreeJoin() {
  const names = uniqueTrees.map((tree) => `<b>${tree.data.name}</b>`);
  return names.slice(0, -1).join(', ') + ' and ' + names.slice(-1);
}
---

{format === 'join' && <span set:html={getTreeJoin()} />}
{
  format === 'list' && (
    <ul>
      {uniqueTrees.map((tree) => (
        <li>
          <a href={`#${tree.id}`}>{tree.data.name}</a>
        </li>
      ))}
    </ul>
  )
}
