---
import { type CollectionEntry, render } from 'astro:content';

import InfoboxWrapper from '../common/infobox/InfoboxWrapper.astro';
import BuildingInfoboxAllVersions from './building/infobox/BuildingInfoboxAllVersions.astro';
import ItemInfoboxAllVersions from './items/infobox/ItemInfoboxAllVersions.astro';

interface Props {
  page: CollectionEntry<'wiki'>;
}

const { page } = Astro.props;
const { Content } = await render(page);
---

{
  page.data.type === 'building' ? (
    <InfoboxWrapper>
      <Content />

      <BuildingInfoboxAllVersions buildingBaseId={page.data.id} slot="infobox" />
    </InfoboxWrapper>
  ) : page.data.type === 'item' && (page.data.infobox?.show ?? true) ? (
    <InfoboxWrapper>
      <Content />

      <ItemInfoboxAllVersions id={page.data.item} slot="infobox" />
    </InfoboxWrapper>
  ) : page.data.type === 'item-combined' && (page.data.infobox?.show ?? true) ? (
    <InfoboxWrapper>
      <Content />

      <div class="grid item-infobox-container" slot="infobox" style={{ '--bs-columns': page.data.infobox?.cols ?? 2 }}>
        {page.data.items.map((item) => (
          <ItemInfoboxAllVersions id={item} expand />
        ))}
      </div>
    </InfoboxWrapper>
  ) : (
    <Content />
  )
}

<style lang="scss">
  .item-infobox-container {
    --bs-gap: 1em;
    direction: rtl;
    height: min-content;
    float: right;

    :global(*) {
      direction: initial;
    }
  }
</style>
