---
import { Icon } from 'astro-icon/components';
import Navlink from './Navlink.astro';

// import { Sidenav } from './Sidenav';
---

<nav class="navbar navbar-expand-lg navbar-light ribbon ribbon-main">
  <div class="container">
    <button type="button" class="d-lg-none btn btn-outline-light">
      <Icon name="fa6-solid:bars" />
    </button>

    <div class="navbar-collapse collapse">
      <ul class="navbar-nav">
        <Navlink href="/" name="Home" root />
        <Navlink href="https://store.minecolonies.com" name="Shop" root />
        <Navlink href="/about" name="About the Mod" root />
        <Navlink href="/events" name="Events" root />
        <Navlink href="/team" name="Team" root />
        <Navlink href="/wiki" name="Wiki" root exact={false} />
        <Navlink href="/support-us" name="Support Us" root />
        <Navlink
          href="https://crowdin.com/project/minecolonies"
          name="Translate"
          root
        />
        <Navlink
          href="https://github.com/ldtteam/minecolonies/issues/new/choose"
          name="Report a Bug"
          root
        />
      </ul>

      <ul class="ms-auto navbar-nav">
        <li class="nav-item">
          <a href="https://www.patreon.com/minecolonies" class="nav-link">
            <Icon name="fa6-brands:patreon" color="#f96854" />
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.youtube.com/user/MrPMardle" class="nav-link">
            <Icon name="fa6-brands:youtube" color="#ff0000" />
          </a>
        </li>
        <li class="nav-item">
          <a href="https://discord.minecolonies.com" class="nav-link">
            <Icon name="fa6-brands:discord" color="#7289da" />
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/minecoloniesmod" class="nav-link">
            <Icon name="fa6-brands:twitter" color="#1da1f2" />
          </a>
        </li>
        <li class="nav-item">
          <a href="https://reddit.com/r/minecolonies" class="nav-link">
            <Icon name="fa6-brands:reddit" color="#ff4500" />
          </a>
        </li>
        <li class="nav-item">
          <button id="themeSwitch" class="mx-2 btn btn-outline-light">
            <Icon
              class="select-theme-light"
              name="fa6-solid:sun"
              color="yellow"
            />
            <Icon
              class="select-theme-dark"
              name="fa6-solid:moon"
              color="yellow"
            />
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  function toggleTheme() {
    const value = localStorage.getItem('theme');
    if (value === 'light') {
      updateTheme('dark');
    } else {
      updateTheme('light');
    }
  }

  function updateTheme(value: string) {
    const systemTheme = window.matchMedia('(prefers-color-scheme: dark)')
      .matches
      ? 'dark'
      : 'light';
    const theme = value === 'system' ? systemTheme : value;
    document.documentElement.classList.remove('light', 'dark');
    document.documentElement.classList.add(theme);
    localStorage.setItem('theme', value);
  }

  function setup() {
    const button = document.getElementById('themeSwitch') as HTMLButtonElement;

    button.addEventListener('click', toggleTheme);
    updateTheme(localStorage.getItem('theme') ?? 'system');
  }

  document.addEventListener('astro:after-swap', setup);
  document.addEventListener('DOMContentLoaded', setup);
</script>

<style>
  :global(.light) .select-theme-light {
    color-scheme: dark;
    display: initial;
  }

  :global(.dark) .select-theme-dark {
    display: initial;
  }

  .select-theme-light,
  .select-theme-dark {
    display: none;
  }
</style>

{/* <Sidenav show={show} updateSidenav={updateSidenav} /> */}
