---
import Social from '@components/markdoc/util/Social.astro';
import { getCollection } from 'astro:content';

const socials = await getCollection('socials');
---

{
  socials.map((social) => (
    <li class="nav-item bg-light mx-1">
      <Social id={social.id} icon />
    </li>
  ))
}

<style>
  .nav-item {
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 5px;
    border-radius: 100%;
  }
</style>
