---
import { Icon } from 'astro-icon/components';
---

<button class="theme-switcher mx-2 btn btn-secondary">
  <Icon class="select-theme-light" name="material-symbols-light:light-mode" color="yellow" size={24} />
  <Icon class="select-theme-dark" name="material-symbols-light:dark-mode" color="yellow" size={24} />
</button>

<script>
  function toggleTheme() {
    const value = localStorage.getItem('theme');
    if (value === 'light') {
      updateTheme('dark');
    } else {
      updateTheme('light');
    }
  }

  function updateTheme(value: string) {
    const systemTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    const theme = value === 'system' ? systemTheme : value;
    document.documentElement.classList.remove('light', 'dark');
    document.documentElement.classList.add(theme);
    localStorage.setItem('theme', value);
  }

  function setup() {
    const buttons = document.getElementsByClassName('theme-switcher');

    for (const button of buttons) {
      button.addEventListener('click', toggleTheme);
    }

    updateTheme(localStorage.getItem('theme') ?? 'system');
  }

  document.addEventListener('astro:page-load', setup);
</script>

<style>
  :global(.light) .select-theme-light {
    color-scheme: dark;
    display: initial;
  }

  :global(.dark) .select-theme-dark {
    display: initial;
  }

  .select-theme-light,
  .select-theme-dark {
    display: none;
  }
</style>
