---
import { socials } from '@utils/social';
import { Icon } from 'astro-icon/components';

interface Props {
  class?: string;
}

const { class: cssClass } = Astro.props;
---

<ul class:list={['navbar-nav btn-group', cssClass]}>
  {
    Object.entries(socials).map(([key, social]) => (
      <li class="nav-item btn btn-sm bg-light">
        <a href={social.link} class="nav-link p-0" aria-label={social.name + ' link'}>
          <Icon name={`fa6-brands:${key}`} color={social.color} />
        </a>
      </li>
    ))
  }
</ul>
<ul class:list={['navbar-nav']}>
  <li class="nav-item">
    <button class="theme-switcher mx-2 btn btn-secondary">
      <Icon class="select-theme-light" name="fa6-solid:sun" color="yellow" />
      <Icon class="select-theme-dark" name="fa6-solid:moon" color="yellow" />
    </button>
  </li>
</ul>

<script>
  function toggleTheme() {
    const value = localStorage.getItem('theme');
    if (value === 'light') {
      updateTheme('dark');
    } else {
      updateTheme('light');
    }
  }

  function updateTheme(value: string) {
    const systemTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    const theme = value === 'system' ? systemTheme : value;
    document.documentElement.classList.remove('light', 'dark');
    document.documentElement.classList.add(theme);
    localStorage.setItem('theme', value);
  }

  function setup() {
    const buttons = document.getElementsByClassName('theme-switcher');

    for (const button of buttons) {
      button.addEventListener('click', toggleTheme);
    }

    updateTheme(localStorage.getItem('theme') ?? 'system');
  }

  document.addEventListener('astro:page-load', setup);
</script>

<style>
  :global(.light) .select-theme-light {
    color-scheme: dark;
    display: initial;
  }

  :global(.dark) .select-theme-dark {
    display: initial;
  }

  .select-theme-light,
  .select-theme-dark {
    display: none;
  }
</style>
