---
import type { ImageMetadata } from 'astro';
import { getImage } from 'astro:assets';
import path from 'path';

interface Props {
  isHome: boolean;
}

const images = import.meta.glob('../assets/images/background/*.jpg') as Record<
  string,
  () => Promise<{ default: ImageMetadata }>
>;

const imageSources: Record<string, string> = {};
for (const [fullPath, image] of Object.entries(images)) {
  const fileName = path.parse(fullPath).name;
  imageSources[fileName] = `url(${(await getImage({ src: (await image()).default })).src})`;
}
---

<div class:list={['bgscroll', Astro.props.isHome ? 'bghome' : '']}>
  <div class="page-root">
    <slot />
  </div>
</div>

<script>
  import 'bootstrap/js/dist/offcanvas';
  import 'bootstrap/js/dist/dropdown';
</script>

<style define:vars={imageSources}>
  .bgscroll {
    background:
      var(--bg-top-left) top left no-repeat,
      var(--bg-top-right) top right no-repeat,
      var(--bg-bottom-left) bottom left no-repeat,
      var(--bg-bottom-right) bottom right no-repeat,
      var(--bg-top) top center repeat-x,
      var(--bg-bottom) bottom center repeat-x,
      var(--bg-left) left center repeat-y,
      var(--bg-right) right center repeat-y;
    width: 100%;
    min-height: 100vh;

    &.bghome {
      background:
        var(--bg-top-left) top left no-repeat,
        var(--bg-top-right) top right no-repeat,
        var(--bg-bottom-left) bottom left no-repeat,
        var(--bg-bottom-right) bottom right no-repeat,
        var(--bg-top) top center repeat-x,
        var(--bg-bottom) bottom center repeat-x,
        var(--bg-left) left center repeat-y,
        var(--bg-right) right center repeat-y,
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        var(--bg-home) center center/cover no-repeat;
    }
  }

  :global(.dark) .bgscroll {
    background:
      var(--bg-dark-top-left) top left no-repeat,
      var(--bg-dark-top-right) top right no-repeat,
      var(--bg-dark-bottom-left) bottom left no-repeat,
      var(--bg-dark-bottom-right) bottom right no-repeat,
      var(--bg-dark-top) top center repeat-x,
      var(--bg-dark-bottom) bottom center repeat-x,
      var(--bg-dark-left) left center repeat-y,
      var(--bg-dark-right) right center repeat-y;

    &.bghome {
      background:
        var(--bg-dark-top-left) top left no-repeat,
        var(--bg-dark-top-right) top right no-repeat,
        var(--bg-dark-bottom-left) bottom left no-repeat,
        var(--bg-dark-bottom-right) bottom right no-repeat,
        var(--bg-dark-top) top center repeat-x,
        var(--bg-dark-bottom) bottom center repeat-x,
        var(--bg-dark-left) left center repeat-y,
        var(--bg-dark-right) right center repeat-y,
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        var(--bg-home) center center/cover no-repeat;
    }
  }

  .page-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1em;
    padding: 3em 1em;

    & > * {
      flex: 0;
    }
  }
</style>
