---
import type { CollectionEntry } from 'astro:content';

import Card from './ui/Card.astro';

interface Props {
  sponsor: CollectionEntry<'sponsors'>;
}

const { sponsor } = Astro.props;
---

<Card class="d-flex" autoSize>
  <a href={sponsor.data.link} class="m-auto">
    <img src={sponsor.data.image} class="m-auto d-block" alt={sponsor.data.imageAlt} style={{ width: '100%' }} />
  </a>
</Card>
