---
import type { CollectionEntry } from 'astro:content';

import Card from './common/basic/Card.astro';
import MinecraftSkin from './common/MinecraftSkin.astro';

interface Props {
  supporter: CollectionEntry<'supporters'>;
}

const { supporter } = Astro.props;
---

<Card class="text-center p-4" autoSize>
  <h3>{supporter.data.name}</h3>
  <MinecraftSkin uuid={supporter.id} name={supporter.data.name} />
  <div class="clearfix"></div>
</Card>
