---
import { socials } from '@utils/social';
import { Icon } from 'astro-icon/components';

interface Props {
  class?: string;
}

const { class: cssClass = '' } = Astro.props;
---

<div class:list={['text-center', 'd-flex', 'justify-content-center', 'gap-3', cssClass]}>
  <div class="ribbon-patreon">
    <a href={socials.patreon.link}>
      <Icon name="fa6-brands:patreon" class="me-2" />
      <span>Become a Patron</span>
    </a>
  </div>
  <div class="ribbon-discord">
    <a href={socials.discord.link}>
      <Icon name="fa6-brands:discord" class="me-2" />
      <span>Join our Discord</span>
    </a>
  </div>
  <div class="ribbon-twitch">
    <a href={socials.twitch.link}>
      <Icon name="fa6-brands:twitch" class="me-2" />
      <span>Subscribe on Twitch</span>
    </a>
  </div>
  <div class="ribbon-paypal">
    <a href={socials.paypal.link}>
      <Icon name="fa6-brands:paypal" class="me-2" />
      <span>Donate via PayPal</span>
    </a>
  </div>
</div>

<style>
  .ribbon-patreon {
    background: url('/images/ribbon/patreon_ribbon.png') no-repeat;
    background-size: 100% 100%;
    padding: 0.5em 2em;
  }

  .ribbon-discord {
    background: url('/images/ribbon/discord_ribbon.png') no-repeat;
    background-size: 100% 100%;
    padding: 0.5em 2em;
  }

  .ribbon-twitch {
    background: url('/images/ribbon/twitch_ribbon.png') no-repeat;
    background-size: 100% 100%;
    padding: 0.5em 2em;
  }

  .ribbon-paypal {
    background: url('/images/ribbon/paypal_ribbon.png') no-repeat;
    background-size: 100% 100%;
    padding: 0.5em 2em;
  }

  a {
    color: var(--color-dark);
  }
</style>
