---
import SocialBanner from './ui/SocialBanner.astro';

interface Props {
  class?: string;
}

const { class: cssClass = '' } = Astro.props;
---

<div class:list={['text-center', 'd-flex', 'justify-content-evenly', 'gap-3', cssClass]}>
  <SocialBanner social="patreon" center>Become a Patron</SocialBanner>
  <SocialBanner social="discord" center>Join our Discord</SocialBanner>
  <SocialBanner social="twitch" center>Subscribe on Twitch</SocialBanner>
  <SocialBanner social="paypal" center>Donate via PayPal</SocialBanner>
</div>
