{% assign recipes = include.recipes | strip | default "" %}
{% assign recipes_list = recipes | split: "," %}
{% assign worker = include.worker | strip | default "" %}

{% capture infobox-content %}
 {% if worker != "" %}
    <div class="row section-text text-left">
        <div class="col">
            <p>
                <strong>Worker:</strong>
            </p>
        </div>
        <div class="col">
            <p>
                <a href="../workers/{{ include.worker | downcase }}">{{ include.worker | | capitalize }}</a>
            </p>
        </div>
    </div>
 {% endif %}
{% endcapture %}
{% capture infobox-content-lower %}
    {% if recipes != "" %}
        {% for recipe in recipes_list %}
            <div class="row section-text text-center infobox-recipe-row">
                <div class="col-12">
                    <recipe>{{ recipe }}</recipe>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endcapture %}
{% include infobox/reuse/core.html content=infobox-content lower_content=infobox-content-lower image=include.image alt=include.alt %}