{% assign key = page.worker | strip | default: "" %}
{% if key != "" %}
    {% assign worker = site.data.workerinfo[key] %}
    {% assign images = "" | split: "" %}
    {% assign blocks = "" | split: "" %}

    {% capture worker_image_male %}
        <img src="../../assets/images/workers/{{ key }}_m.png" alt="{{ worker.name }} Male"/>
    {% endcapture %}
    {% capture worker_image_female %}
        <img src="../../assets/images/workers/{{ key }}_f.png" alt="{{ worker.name }} Female"/>
    {% endcapture %}
    {% assign images = images | push: worker_image_male %}
    {% assign images = images | push: worker_image_female %}

    {% capture infoblock %}
        <div class="row text-left">
            <div class="col">
                <p>
                    <strong>Primary Trait:</strong>
                </p>
            </div>
            <div class="col">
                <p class="traitp">{{ worker.traits.primary | default: "None" }}</p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col">
                <p>
                    <strong>Secondary Trait:</strong>
                </p>
            </div>
            <div class="col">
                <p class="traits">{{ worker.traits.secondary | default: "None" }}</p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col">
                <p>
                    <strong>Building:</strong>
                </p>
            </div>
            <div class="col">
                {% for building in worker.buildings %}
                    <p class="mb-1">
                        <a href="../buildings/{{ building }}">{{ site.data.buildinginfo[building].name }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    {% endcapture %}
    {% assign blocks = blocks | push: infoblock %}

    {% include infobox/reuse/core.html title=worker.name images=images blocks=blocks %}
{% endif %}