---
import VersionContent from '@components/version/VersionContent.astro';
import { getBuildingLink, getBuildingName } from '@utils/building';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

interface Props {
  building: CollectionEntry<'buildings'>;
  link?: boolean;
  plural?: boolean;
}

const { building, link = false, plural = false } = Astro.props;

const versions = await getCollection('versions');

const versionedContent = await Promise.all(
  versions.map(async (version) => ({
    version,
    name: await getBuildingName(version, building, plural)
  }))
);
const versionedContentReduced = versionedContent.reduce<Record<string, CollectionEntry<'versions'>[]>>(
  (previousValue, currentValue) => {
    if (previousValue[currentValue.name] === undefined) {
      previousValue[currentValue.name] = [];
    }
    previousValue[currentValue.name].push(currentValue.version);
    return previousValue;
  },
  {}
);
---

{
  Object.entries(versionedContentReduced).map(async ([name, versions]) => (
    <VersionContent versions={versions} inline>
      {link ? <a href={getBuildingLink(building)}>{name}</a> : <span>{name}</span>}
    </VersionContent>
  ))
}
