---
import VersionOverride from '@components/version/VersionOverride.astro';
import { type CollectionEntry, getEntry } from 'astro:content';

interface Props {
  building?: CollectionEntry<'buildings'>;
  worker: CollectionEntry<'workers'>;
  link?: boolean;
  plural?: boolean;
}

const { building, worker, link = false, plural = false } = Astro.props;

const buildingData = building ?? (await getEntry(worker.data.primaryBuilding));
---

{
  link ? (
    <a href={`/wiki/buildings/${buildingData.id}`}>
      <VersionOverride value={worker.data} fieldGetter={(v) => (plural ? v.plural : v.name)} />
    </a>
  ) : (
    <VersionOverride value={worker.data} fieldGetter={(v) => (plural ? v.plural : v.name)} />
  )
}
