@charset "utf-8";

$bg-color-light: #fffaee;
$bg-color-dark: #080a0f;
$color-light: #212529;
$color-dark: #e0dbd1;

:root {
  --background-color-light: #{$bg-color-light};
  --background-color-dark: #{$bg-color-dark};
  --color-light: #{$color-light};
  --color-dark: #{$color-dark};
  --text-color: var(--color-light);
  --background-color: var(--background-color-light);
}

.dark {
  --text-color: var(--color-dark);
  --background-color: var(--background-color-dark);
}

// Core styles
html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Fondamento', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

img {
  max-width: 100%;
  height: auto;
}

:target {
  scroll-margin-top: 5em;
}

.page-content {
  flex-grow: 1;
}

.container,
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* GLOBAL STYLES */
a {
  text-decoration: none;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  text-align: center;
  overflow: hidden;
  opacity: initial;
}

.dark hr {
  background: #ccc;
  background-image: linear-gradient(to right, #333, #ccc, #333);
}

.bghome {
  & .page_header {
    color: var(--color-dark);
  }

  & hr {
    background-color: var(--color-dark);
    background-image: none;
  }
}

.dark .btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e0dbd1'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

.astro-code {
  --astro-code-color-text: #212529;
  --astro-code-color-background: #fdf6e3;
  --astro-code-token-constant: #d33682;
  --astro-code-token-string: #2aa198;
  --astro-code-token-comment: #93a1a1;
  --astro-code-token-keyword: #859900;
  --astro-code-token-parameter: undefined;
  --astro-code-token-function: #268bd2;
  --astro-code-token-string-expression: #268bd2;
  --astro-code-token-punctuation: undefined;
  --astro-code-token-link: undefined;

  padding: 0.5em;
  border-radius: 0.25em;
  counter-reset: step;
  counter-increment: step 0;
  background-color: var(--astro-code-color-background);

  & .line:not(:last-child:empty)::before {
    content: counter(step);
    counter-increment: step;
    display: inline-block;
    width: 3em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 1em;
    color: var(--astro-code-color-text);
    border-right: 1px solid;
    border-color: var(--astro-code-color-text);
  }
}

.dark .astro-code {
  --astro-code-color-text: #f8f8f2;
  --astro-code-color-background: #282a36;
  --astro-code-token-constant: #bd93f9;
  --astro-code-token-string: #8be9fd;
  --astro-code-token-comment: #6272a4;
  --astro-code-token-keyword: #ff79c6;
  --astro-code-token-parameter: #f8f8f2;
  --astro-code-token-function: #8be9fd;
  --astro-code-token-string-expression: #ff79c6;
  --astro-code-token-punctuation: #f8f8f2;
  --astro-code-token-link: #8be9fd;
}
