@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

@mixin ribbon($path) {
  position: relative;
  background: url(str-replace($path, '{0}', 'center')) center/100% repeat-x;
  background-size: contain;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background: url(str-replace($path, '{0}', 'left')) right/100% no-repeat;
    background-size: contain;
    height: 100%;
    right: 100%;
    top: 0;
    aspect-ratio: 0.5;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    background: url(str-replace($path, '{0}', 'right')) left/100% no-repeat;
    background-size: contain;
    height: 100%;
    left: 100%;
    top: 0;
    aspect-ratio: 0.5;
  }
}
