.ribbon {
  color: var(--color-dark) !important;
}

.ribbon-main {
  @include ribbon("/images/navbar/navbar_modular_{0}.png");
  width: 100%;
  font-size: 12pt;
}

.ribbon-secondary {
  @include ribbon("/images/navbar/navbar_secondary_modular_{0}.png");
  width: 100%;
  font-size: 12pt;
}
