---
import { getCollection, getEntry } from 'astro:content';

import type { RecipeCondition } from '../../../schemas/item';
import BuildingName from '../../wiki/names/BuildingName.astro';
import ResearchLinkInternal from '../research/ResearchLinkInternal.astro';

interface Props {
  conditions: RecipeCondition[];
}

const { conditions } = Astro.props;
---

{
  conditions.length > 0 &&
    conditions.map(async (condition) => {
      if (condition.type === 'building') {
        const buildingData = await getEntry(condition.building);
        if (condition.level) {
          return (
            <li>
              Requires a <BuildingName building={buildingData} /> level {condition.level}
            </li>
          );
        } else {
          return (
            <li>
              Requires a <BuildingName building={buildingData} />
            </li>
          );
        }
      }
      if (condition.type === 'research') {
        const research = await getCollection('research', (research) =>
          research.data.effects.map((m) => m.effect.id).includes(condition.research.id)
        ).then((res) => res[0]);
        return (
          <li>
            Requires research <ResearchLinkInternal research={research} />
          </li>
        );
      }

      return undefined;
    })
}
