---
import BuildingName from '@components/wiki/names/BuildingName.astro';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

import ResearchLink from '../research/ResearchLink.astro';

interface Props {
  conditions: CollectionEntry<'recipes'>['data']['conditions'];
}

const { conditions } = Astro.props;
---

{
  conditions.length > 0 &&
    conditions.map(async (condition) => {
      if (condition.type === 'building') {
        const buildingData = await getEntry(condition.building);
        if (condition.level) {
          return (
            <li>
              Requires a <BuildingName building={buildingData} /> level {condition.level}
            </li>
          );
        } else {
          return (
            <li>
              Requires a <BuildingName building={buildingData} />
            </li>
          );
        }
      }
      if (condition.type === 'research') {
        return (
          <li>
            Requires research <ResearchLink name={condition.research.id} />
          </li>
        );
      }

      return undefined;
    })
}
