---
import type { CollectionEntry } from 'astro:content';

import BuildingName from '../names/BuildingName.astro';
import ResearchLink from '../research/ResearchLink.astro';

interface Props {
  conditions: CollectionEntry<'recipes'>['data']['conditions'];
}

const { conditions } = Astro.props;
---

{
  conditions.length > 0 &&
    conditions.map(async (condition) => {
      if (condition.type === 'building') {
        if (condition.level) {
          return (
            <li>
              Requires a <BuildingName name={condition.building.id} /> level {condition.level}
            </li>
          );
        } else {
          return (
            <li>
              Requires a <BuildingName name={condition.building.id} />
            </li>
          );
        }
      }

      if (condition.type === 'research') {
        return (
          <li>
            Requires research <ResearchLink name={condition.research.id} />
          </li>
        );
      }

      return undefined;
    })
}
