---
import { type CollectionEntry, getEntry } from 'astro:content';

import RecipeSlot from './RecipeSlot.astro';

interface Props {
  recipe: Extract<CollectionEntry<'recipes'>['data'], { type: 'smelting' }>;
}

const { recipe } = Astro.props;
const version = await getEntry(recipe.version);
---

<div class="input">
  <RecipeSlot items={recipe.item} version={version} />
</div>
<div class="furnace">🔥</div>
<div class="output">
  <RecipeSlot items={[recipe.output]} amount={recipe.amount} large version={version} />
</div>

<style>
  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .furnace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
  }

  .output {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
