---
import { type CollectionEntry, getEntries } from 'astro:content';

import BuildingNameAllVersions from '../../../../../wiki/building/names/BuildingNameAllVersions.astro';

interface Props {
  requirement: Extract<CollectionEntry<'research'>['data']['requirements'][number], { type: 'buildings_alternate' }>;
}

const { requirement } = Astro.props;

const buildings = await getEntries(requirement.buildings);
---

{
  buildings.map((building, index) => (
    <>
      <span>One or multiple </span>
      <span>
        <BuildingNameAllVersions building={building} plural link />
      </span>
      <span> totaling at least {requirement.level} levels</span>
      {index !== buildings.length && <span> or </span>}
    </>
  ))
}
