<div class="infobox box text-center w-100">
    <div class="infobox-image">
        <img src="{{ include.image }}" alt="{{ include.alt }}"/>
    </div>
    {% if include.upper_content %}
        <hr/>
        <div class="infobox-content infobox-content-upper">
            {{ include.upper_content }}
        </div>
    {% endif %}
    <hr/>
    <div class="infobox-content infobox-content-main">
        {{ include.content }}
    </div>
    {% if include.lower_content %}
        <hr/>
        <div class="infobox-content infobox-content-lower">
            {{ include.lower_content }}
        </div>
    {% endif %}
</div>