<ul class="nav nav-tabs">
  <slot />
</ul>

<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="home-tab-pane"
    role="tabpanel"
    aria-labelledby="home-tab"
    tabindex="0"
  >
    ...
  </div>
  <div
    class="tab-pane fade"
    id="profile-tab-pane"
    role="tabpanel"
    aria-labelledby="profile-tab"
    tabindex="0"
  >
    ...
  </div>
  <div
    class="tab-pane fade"
    id="contact-tab-pane"
    role="tabpanel"
    aria-labelledby="contact-tab"
    tabindex="0"
  >
    ...
  </div>
  <div
    class="tab-pane fade"
    id="disabled-tab-pane"
    role="tabpanel"
    aria-labelledby="disabled-tab"
    tabindex="0"
  >
    ...
  </div>
</div>
