---
title: MineColonies Wiki
---
<!DOCTYPE html>
    <script type="text/javascript">
      const theme = localStorage.getItem('theme');
  if (theme === "dark") {
    document.documentElement.setAttribute('data-theme', 'dark');
  }
    </script>
<html lang="{{ site.lang | default: 'en-US' }}">

  <head>
    <meta charset='utf-8'>
    <meta name="Description" content="MineColonies is a town building mod that allows you to create your own thriving colony within Minecraft!">
    <meta name="Keywords" content="minecolonies,minecraft,minecraft mod,1.12,1.14,1.15,1.16,minecraft schematics,schematics minecraft,minecraft buildings,minecraft forge,minecraft server,minecraft mods,town building,minecraft colony,minecraft colonies,colony,colonies">
    <meta name="theme-color" content="#4715A7">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Page Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start":
    new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src=
    "https://www.googletagmanager.com/gtm.js?id="+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,"script","dataLayer","GTM-KKZDTMP");</script>
    <!-- End Google Tag Manager -->

    {% seo %}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKZDTMP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="bg">
      <div class="bgscroll">
        
        {% include header.html %}

        <!-- MAIN CONTENT -->
        <div class="container">
          <div class="content">
              {{ content }}
          </div>

          <hr>
          <div class="footnote">
            <p>If changes are needed or you think there is content missing, feel free to edit this page (the button at the top right) or submit an <a href="https://github.com/ldtteam/MinecoloniesWiki/issues/new/choose">issue</a> for us to make edits. - MineColonies Wiki Team</p>
          </div>
        </div>
        
        {% include footer.html %}

      </div>
    </div>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{{ '/assets/js/recipe.js' | relative_url }}"></script>

    <script>
    $( document ).ready(function() {

        // Open navbarSide when button is clicked
        $('#navbarSideButton').on('click', function() {
          $('.sidenav, .overlay').addClass('active');
        });

        // Close navbarSide when the outside of menu is clicked
        $('.overlay').on('click', function(){
          $('.sidenav, .overlay').removeClass('active');
        });

        reader.findRecipes();

        setTimeout(reader.convertToSlideshow, 2000);

        $('h1, h2').not('.header, div.sidenav-title > h1').after('<hr/>');

    });

    const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content'); 

    if (theme === "dark") {
      document.getElementById("theme-toggle").innerHTML = "Dark Mode";
    } else if (theme === "light") {
      document.getElementById("theme-toggle").innerHTML = "Light Mode";
    } else if  (userPrefers === "dark") {
      document.documentElement.setAttribute('data-theme', 'dark');
      window.localStorage.setItem('theme', 'dark');
      document.getElementById("theme-toggle").innerHTML = "Dark Mode";
    } else {
      document.documentElement.setAttribute('data-theme', 'light');
      window.localStorage.setItem('theme', 'light');
      document.getElementById("theme-toggle").innerHTML = "Light Mode";
    }

    function modeSwitcher() {
      let currentMode = document.documentElement.getAttribute('data-theme');
      if (currentMode === "dark") {
        document.documentElement.setAttribute('data-theme', 'light');
        window.localStorage.setItem('theme', 'light');
        document.getElementById("theme-toggle").innerHTML = "Light Mode";
      } else {
        document.documentElement.setAttribute('data-theme', 'dark');
        window.localStorage.setItem('theme', 'dark');
        document.getElementById("theme-toggle").innerHTML = "Dark Mode";
      }
    }
    </script>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
