---
import Meta from '../../components/common/core/Meta.astro';
import PagesOverview from '../../components/wiki/PagesOverview.astro';
import Social from '../../components/wiki/util/MarkdocSocialLink.astro';
import Layout from '../../layouts/Default.astro';
---

<Layout title="Wiki Home" titleAffix="MineColonies Wiki" header="Welcome to the MineColonies Wiki!">
  <Meta slot="meta" title="Wiki Home" isWiki />

  <p>
    New to MineColonies? Start with the <a href="/wiki/tutorials/getting-started">Getting Started guide</a> or check the <a
      href="/wiki/installation/installation">installation instructions</a
    >. Browse buildings, workers, and more in the full list of pages below.
  </p>
  <hr />
  <PagesOverview />
  <hr />
  <p>
    MineColonies is a free and open-source mod developed by Let's Dev Together (LDT), a non-profit community. The source
    code is available on <Social id="github" />. Our developers are a hard-working, well-integrated coding team,
    continuously adding more content to make the MineColonies experience even greater. However, we are always looking
    for more people to contribute to the mod, whether as a coder, builder, artist, voice actor, wiki editor, tester, or
    simply supporting us on <Social id="patreon" />!
  </p>
  <p>
    Found a bug? Report it as an <a href="https://github.com/ldtteam/minecolonies/issues/new/choose">issue</a> to help us
    give you the best gaming experience. If you require any help or just want to join the conversation, check us out on <Social
      id="discord"
    />!
  </p>
  <hr />
  <p class="text-center">
    If changes are needed or you think there is content missing, feel free to
    <a href="https://github.com/ldtteam/MinecoloniesWiki/edit/main/src/content/wiki/index.mdoc">edit</a>
    this page or submit an
    <a href="https://github.com/ldtteam/MinecoloniesWiki/issues/new/choose">issue</a>
    for us to make edits. - MineColonies Wiki Team
  </p>
</Layout>
