---
import Layout from '@layouts/Default.astro';
---

<Layout title="Search" titleAffix="MineColonies Wiki">
  <!-- <SearchComp uiOptions={{ showImages: true, showSubResults: true, resetStyles: false }} /> -->

  <hr />
  <p class="text-center">
    If changes are needed or you think there is content missing, feel free to
    <a href="https://github.com/ldtteam/MinecoloniesWiki/edit/main/src/pages/wiki/search.astro">edit</a>
    this page (the button at the top right) or submit an
    <a href="https://github.com/ldtteam/MinecoloniesWiki/issues/new/choose"> issue</a>
    for us to make edits. - MineColonies Wiki Team
  </p>
</Layout>
