<!-- HEADER -->
<div class="container">
    <p class="header">MineColonies Wiki</p>
</div>

<nav class="sidenav" id="navbarSide">
    <div class="sidenav-title">
        <p class="text-center">MineColonies Wiki</p>
    </div>
    <hr/>
    <ul class="sidenav-nav">
        <li class="sidenav-item">
            <a class="sidenav-link" href="https://minecolonies.com">Home</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="https://minecolonies.com/about">About the Mod</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="https://minecolonies.com/team">Our Team</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link active" href="https://wiki.minecolonies.ldtteam.com/">Wiki</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="https://crowdin.com/project/minecolonies">Translate</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="https://github.com/ldtteam/minecolonies/issues/new/choose">Report a Bug</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" onclick="modeSwitcher()">Toggle dark mode</a>
        </li>
    </ul>
    <hr/>
    <ul class="sidenav-nav">
        <li class="sidenav-item">
            <a href="{{ site.baseurl }}" class="sidenav-link">Wiki Home</a>
        </li>
        {% for item in site.data.subnav.subnav %}
            <li class="sidenav-item dropdown">
                <a class="sidenav-link dropdown-toggle" id="{{ item.title }}DropdownSidenav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">{{ item.title }}</a>
                <div class="dropdown-menu" aria-labelledby="{{ item.title }}DropdownSidenav">
                    {% case item.type %}
                        {% when "buildings" %}
                            {% for entry in site.data.buildinginfo %}
                                {% assign key = entry[0] %}
                                {% include links/building.html key=key class="dropdown-item" %}
                            {% endfor %}
                        {% when "workers" %}
                            {% assign grouped = site.data.workerinfo | group_by_exp: "item", "item[1].type | default: 'default'" %}
                            {% for group in grouped %}
                                {% unless forloop.first %}
                                    <div class="dropdown-divider"></div>
                                {% endunless %}
                                <h6 class="dropdown-header">{{ site.data.workertypes[group.name].name }}</h6>
                                {% for entry in group.items %}
                                    {% assign key = entry[0] %}
                                    {% include links/worker.html key=key class="dropdown-item" %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            {% for entry in item.subitems %}
                                <a class="dropdown-item" href="{{ entry.url | relative_url }}">{{ entry.page }}</a>
                            {% endfor %}
                    {% endcase %}
                </div>
            </li>
        {% endfor %}
        <li class="sidenav-item">
            <a href="{{ 'source/search' | relative_url }}" class="sidenav-link">Search</a>
        </li>
    </ul>
    <hr/>
    <ul class="sidenav-nav sidenav-social text-center">
        <li class="sidenav-item">
            <a class="sidenav-link" href="https://www.patreon.com/minecolonies">
                <i class="fab fa-patreon" style="color: #f96854;"></i>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="https://www.youtube.com/user/MrPMardle">
                <i class="fab fa-youtube" style="color: #ff0000;"></i>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="https://discord.minecolonies.com">
                <i class="fab fa-discord" style="color: #7289da;"></i>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="https://twitter.com/minecoloniesmod">
                <i class="fab fa-twitter" style="color: #1da1f2;"></i>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="https://reddit.com/r/minecolonies">
                <i class="fab fa-reddit-alien" style="color: #ff4500;"></i>
            </a>
        </li>
    </ul>
</nav>
<div class="overlay"></div>

<!-- NAVBAR PRIMARY -->
<nav class="navbar navbar-expand-lg navbar-default main">
    <div class="container">
        <button aria-expanded="false" aria-label="Toggle Navigation" class="navbar-toggler" id="navbarSideButton" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://minecolonies.com">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://minecolonies.com/about">About the Mod</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://minecolonies.com/team">Our Team</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="https://wiki.minecolonies.ldtteam.com/">Wiki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://crowdin.com/project/minecolonies">Translate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/ldtteam/minecolonies/issues/new/choose">Report a Bug</a>
                </li>
                <li>
                    <div class="mode-button button" id="theme-toggle" onclick="modeSwitcher()"></div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.patreon.com/minecolonies">
                        <i class="fab fa-patreon" style="color: #f96854;"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/user/MrPMardle">
                        <i class="fab fa-youtube" style="color: #ff0000;"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://discord.minecolonies.com">
                        <i class="fab fa-discord" style="color: #7289da;"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/minecoloniesmod">
                        <i class="fab fa-twitter" style="color: #1da1f2;"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://reddit.com/r/minecolonies">
                        <i class="fab fa-reddit-alien" style="color: #ff4500;"></i>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/ldtteam/MinecoloniesWiki/edit/main/pages/src/{{ page.path }}">Edit this Page
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!-- NAVBAR SECONDARY -->
<nav class="navbar navbar-expand-lg navbar-default secondary">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarsec">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ site.baseurl }}" class="nav-link">Wiki Home</a>
                </li>
                {% for item in site.data.subnav.subnav %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="{{ item.title }}Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.title }}</a>
                        <ul class="dropdown-menu" aria-labelledby="{{ item.title }}Dropdown">
                            {% case item.type %}
                                {% when "buildings" %}
                                    {% for entry in site.data.buildinginfo %}
                                        {% assign key = entry[0] %}
                                        <li>
                                            {% include links/building.html key=key class="dropdown-item" %}
                                        </li>
                                    {% endfor %}
                                {% when "workers" %}
                                    {% for type in site.data.workertypes %}
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">{{ type[1].name }}</a>
                                            <ul class="dropdown-menu">
                                                {% for entry in site.data.workerinfo %}
                                                    {% assign key = entry[0] %}
                                                    {% if entry[1].type == type[0] or entry[1].type contains type[0] %}
                                                        <li>
                                                            {% include links/worker.html key=key class="dropdown-item" %}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    {% for entry in item.subitems %}
                                        <li>
                                            <a class="dropdown-item" href="{{ entry.url | relative_url }}">{{ entry.page }}</a>
                                        </li>
                                    {% endfor %}
                            {% endcase %}
                        </ul>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a href="{{ 'source/search' | relative_url }}" class="nav-link">Search</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- NAVBAR SECONDARY -->