---
import { getBuildingData, getBuildingLink, getBuildingName, type MarkdocBuildingComponent } from '@utils/building';

interface Props extends MarkdocBuildingComponent {
  plural?: boolean;
}

const { buildingId, name, plural = false } = Astro.props;

const buildingData = await getBuildingData(name);
---

{
  buildingId !== buildingData.id ? (
    <a href={getBuildingLink(buildingData)}>{getBuildingName(buildingData, plural)}</a>
  ) : (
    <span>{getBuildingName(buildingData, plural)}</span>
  )
}
