---
import { getBuildingData, getBuildingLink, getBuildingName } from '@utils/building';

interface Props {
  name: string;
  link?: boolean;
  plural?: boolean;
}

const { name, link = false, plural = false } = Astro.props;
const buildingData = await getBuildingData(name);
---

{
  link ? (
    <a href={getBuildingLink(buildingData)}>{getBuildingName(buildingData, plural)}</a>
  ) : (
    <span>{getBuildingName(buildingData, plural)}</span>
  )
}
