---
import VersionContent from '@components/version/VersionContent.astro';
import type { ItemData } from '@utils/items';

interface Props {
  data: ItemData;
  link?: boolean;
}

const { data, link = true } = Astro.props;
---

{
  data.data.map((name) => (
    <VersionContent versions={name.versions} inline>
      {link && name.link ? <a href={name.link}>{name.name}</a> : <span>{name.name}</span>}
    </VersionContent>
  ))
}
