---
import { getWorkerData, getWorkerLink, getWorkerName, type MarkdocWorkerComponent } from '@utils/workers';

interface Props extends MarkdocWorkerComponent {
  plural?: boolean;
}

const { workerId, name, plural = false } = Astro.props;

const workerData = await getWorkerData(name);
---

{
  workerId !== workerData.id ? (
    <a href={getWorkerLink(workerData)}>{getWorkerName(workerData, plural)}</a>
  ) : (
    <span>{getWorkerName(workerData, plural)}</span>
  )
}
