---
import { getWorkerData, getWorkerLink, getWorkerName } from '@utils/workers';

interface Props {
  name: string;
  link?: boolean;
  plural?: boolean;
}

const { name, link = false, plural = false } = Astro.props;

const workerData = await getWorkerData(name);
---

{
  link ? (
    <a href={getWorkerLink(workerData)}>{getWorkerName(workerData, plural)}</a>
  ) : (
    <span>{getWorkerName(workerData, plural)}</span>
  )
}
