.infobox {
  clear: right;
  float: right;
  margin: .5em 0;
  padding: 1.5em;

  .infobox-content {
    padding: .5em;
  }

  .infobox-image {
    padding: .5em;
  }

  .infobox-recipe-row {
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section-text p:last-child {
    margin-bottom: 0;
  }

  .traitp {
    color: #00be00;
    font-size: initial;
    font-weight: initial;
  }
  
  .traits {
    color: #fefe3f;
    font-size: initial;
    font-weight: initial;
  }

  .worker-image > div {
    flex: 1;

    & > img {
      padding: .25em;
    }
  }

  img {
    padding-bottom: .2em;
  }
}