@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://minecolonies.com/css/global.css";

// Variables
$mcurl: "https://minecolonies.com";

// Fonts
@font-face {
  font-family: "Colonial Dame";
  src: url("../fonts/Colonial Dame.ttf");
}

@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}

// Bootstrap extensions
@import "bootstrap.scss";

// Dark mode
html[data-theme="dark"] {
  @import "dark-mode.scss";
}

// Crafting grid styles
@import "crafting-grid.scss";

// STYLES
html {
  scroll-behavior: smooth;
}

body {
  background: transparent;
  margin: 0;
  font-family: Fondamento, Roboto, sans-serif;
}

footer.ribbon {
  position: relative;
  clear: both;
}

.content {
  padding-top: 10px;
  min-height: 700px;
}

h1 {
  text-align: center;
}

table {
  margin-bottom: 1rem;
  background-color: transparent;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e9ecef;
}

table td,
table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}

img {
  max-width: 100%;
  height: auto;
}

/* PRE is used for certain example files on the datapack page to make them show in-line */
pre {
  font-family: "Courier New" Courier monospace;
  background-color: gainsboro;
}

@media screen and (max-width: 768px) {
  tr {
    border-top: 1px solid #dee2e6;
  }

  td {
    border-top: none !important;
  }

  .perm {
    font-size: 0.9rem;
  }
}

.embed-responsive {
  max-width: 800px;
}

.footnote {
  text-align: center;
}

.patreon {
  color: white;
}

.patreon img {
  width: 20px;
}

.box {
  display: inline-block;
}

.infobox {
  float: right;
  clear: right;
  padding: 1.5em;
  margin: 0.5em 0 0.5em 0em;

  .infobox-image {
    padding: 0.5em;
  }

  .infobox-content {
    padding: 0.5em;
  }

  .infobox-recipe-row {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .infobox {
    float: none;
    text-align: center;
  }
}

.infobox .section-header {
  border-style: solid;
  border-color: black;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0;
  border-right-width: 0;
}

.infobox img {
  padding-bottom: 0.2em;
}

.infobox .section-text p:last-child {
  margin-bottom: 0px;
}

.infobox .traitp {
  color: #00be00;
  background-color: gray;
}

.infobox .traits {
  color: #fefe3f;
  background-color: gray;
}

.infobox .worker-image > div {
  flex: 1;

  & > img {
    padding: 0.25em;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.research-row {
  // Makes the scroll snap point 5 em above the intended element (to leave a nice gap)
  scroll-margin-top: 5em;
}

.theme-toggle {
  color: yellow;

  &:active,
  &:focus,
  &:hover {
    color: yellow !important;
  }
}
