@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://minecolonies.com/css/global.css";

/* VARIABLES */
$mcurl: 'https://minecolonies.com';

/* FONTS */

@font-face {
    font-family: 'Colonial Dame';
    src: url("../fonts/Colonial Dame.ttf");
}

html[data-theme='dark'] {
    --bg-dark: #1e2022;
    --color-light: #bcc2c8;

    .bgscroll {
        background-color: var(--bg-dark);
        background-image: none;
        padding-top: 0;
        color: var(--color-light);
    }

    body {
        background-color: var(--bg-dark);
    }

    .button {
        background-image: none;
        border: 1px var(--color-light) solid;
        border-radius: 10%;
        background-color: var(--dark);
    }

    .dropdown-menu {
        background-color: var(--dark) !important;
        border-color: var(--color-light);
    }

    .dropdown-item {
        color: var(--color-light) !important;
    }

    .dropdown-item:hover {
        background-color: var(--bg-dark);
    }

    .mode-button {
        color: var(--color-light);
        background-color: var(--dark);
    }

    .infobox {
        background-image: none;
        border: 1px var(--color-light) solid;
        border-radius: 0.25rem;
        padding: 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .sidenav {
        background-color: var(--bg-dark);
        border-color: var(--color-light);
    }

    .sidenav-link,
    .sidenav-title {
        color: var(--color-light) !important;
    }

    .table {
        color: var(--color-light);
    }

    a:hover,
    a:focus,
    .active {
        text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

}

@media (prefers-color-scheme: dark) {
    html {
        content: "dark";
    }
}

/* STYLES */
body {
    background: transparent;
    margin: 0;
    font-family: Fondamento, Roboto, sans-serif;
}

footer.ribbon {
    position: relative;
    clear: both;
}

.mode-button {
    position: absolute;
    margin: auto;
    text-align: center;
    top: 1em;
    color: #212529;
    padding: 0.25em;
    background-image: none;
    background-color: #FDF6E5;
    border: 1px #E0D2AE solid;
    border-radius: .25rem;
    margin-left: 1em;
}

.content {
    padding-top: 10px;
    min-height: 700px;
}

h1 {
    text-align: center;
}

table {
    margin-bottom: 1rem;
    background-color: transparent;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}

table td,
table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    tr {
        border-top: 1px solid #dee2e6;
    }

    td {
        border-top: none !important;
    }

    .perm {
        font-size: 0.9rem;
    }
}

.embed-responsive {
    max-width: 800px;
}

.footnote {
    text-align: center;
}

.patreon {
    color: white;
}

.patreon img {
    width: 20px;
}

.box {
    display: inline-block;
}

.infobox {
    float: right;
    clear: right;
    padding: 1.5em;
    margin: .5em 0 .5em 0em;
    min-width: 300px;

    .infobox-image {
        padding: 0.5em;
    }

    .infobox-content {
        padding: 0.5em;
    }

    .infobox-recipe-row {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 576px) {
    .infobox {
        float: none;
        text-align: center;
    }
}

.infobox .section-header {
    border-style: solid;
    border-color: black;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
}

.infobox img {
    padding-bottom: .2em;
}

.infobox .section-text p:last-child {
    margin-bottom: 0px;
}

.infobox .traitp {
    color: #00be00;
    background-color: gray;
}

.infobox .traits {
    color: #fefe3f;
    background-color: gray;
}

/* CRAFTING TABLE CSS */
.invslot {
    position: relative;
    display: inline-block;
    background: #8B8B8B no-repeat center center / 32px 32px;
    border: 2px solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    vertical-align: bottom;
}

.invslot::before,
.invslot::after {
    content: "";
    position: absolute;
    background-color: #8B8B8B;
    height: 2px;
    width: 2px;
}

.invslot::before {
    bottom: -2px;
    left: -2px;
}

.invslot::after {
    top: -2px;
    right: -2px;
}

.invslot-large {
    padding: 8px;
}

.invslot-item,
.invslot-item>a:first-child {
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
}

.invslot-stacksize {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Minecraft, sans-serif !important;
    font-weight: normal !important;
    color: #FFF !important;
    text-shadow: 2px 2px 0 #3F3F3F;
    filter: dropshadow(color=#3F3F3F, offx=2, offy=2);
    z-index: 2;
}

.crafting-table {
    display: inline-block;
    position: relative;
    background-color: #C6C6C6;
    border: 2px solid;
    border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
    padding: 6px;
    text-align: left;
    white-space: nowrap;
    vertical-align: bottom;
}

.crafting-table>* {
    display: inline-block;
    vertical-align: top;
}

.crafting-table,
.crafting-table * {
    box-sizing: initial;
}

.crafting-table .ct-row {
    display: block;
}

.crafting-table>.ct-arrow {
    background: url(https://d1u5p3l4wpay3k.cloudfront.net/minecraft_gamepedia/8/86/Grid_layout_Arrow_%28small%29.png) no-repeat;
    width: 32px;
    height: 26px;
    margin: 40px 4px 0;
}

.crafting-table>.ct-output {
    margin-top: 28px;
}

.crafting-table>.ct-icons {
    position: absolute;
    top: 5px;
    right: 5px;
}

.crafting-table .ct-shapeless,
.crafting-table .ct-fixed {
    display: inline-block;
    background-repeat: no-repeat;
    width: 19px;
    height: 15px;
    cursor: help;
}

.crafting-table .ct-shapeless {
    background-image: url(https://d1u5p3l4wpay3k.cloudfront.net/minecraft_gamepedia/a/a9/Grid_layout_Shapeless.png);
}

.crafting-table .ct-fixed {
    background-image: url(https://d1u5p3l4wpay3k.cloudfront.net/minecraft_gamepedia/b/b8/Grid_layout_Fixed.png);
}

.sprite {
    display: inline-block;
    vertical-align: text-top;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.inv-sprite {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.slides {
    position: relative;
    padding: 0;
}

.slides>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* PRE is used for certain example files on the datapack page to make them show in-line */
pre {
    font-family:
        "Courier New"
        Courier monospace;
    background-color: gainsboro
}