@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://minecolonies.com/css/global.css";

// Variables
$mcurl: "https://minecolonies.com";

// Bootstrap extensions
@import "bootstrap.scss";

// Crafting grid styles
@import "crafting-grid.scss";

.box {
  display: inline-block;
}

.content {
  min-height: 700px;
  padding-top: 10px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
  top: 0;
}

.dropdown-submenu a::after {
  position: absolute;
  right: 6px;
  top: .8em;
  transform: rotate(-90deg);
}

.embed-responsive {
  max-width: 800px;
}

.footnote {
  text-align: center;
}

.infobox {
  clear: right;
  float: right;
  margin: .5em 0;
  padding: 1.5em;

  .infobox-content {
    padding: .5em;
  }

  .infobox-image {
    padding: .5em;
  }

  .infobox-recipe-row {
    margin-bottom: .5em;

     &:last-child {
      margin-bottom: 0;
    }
  }
}

.infobox .section-header {
  border-bottom-width: 2px;
  border-color: black;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-top-width: 2px;
}

.infobox .section-text p:last-child {
  margin-bottom: 0;
}

.infobox .traitp {
  background-color: gray;
  color: #00be00;
}

.infobox .traits {
  background-color: gray;
  color: #fefe3f;
}

.infobox .worker-image > div {
  flex: 1;

  & > img {
    padding: .25em;
  }
}

.infobox img {
  padding-bottom: .2em;
}

.patreon {
  color: white;
}

.patreon img {
  width: 20px;
}

.research-row {
  // Makes the scroll snap point 5 em above the intended element (to leave a nice gap)
  scroll-margin-top: 5em;
}

.social-icon {
  &-discord {
    color: #7289da;
  }

  &-patreon {
    color: #f96854;
  }

  &-reddit {
    color: #ff4500;
  }

  &-twitter {
    color: #1da1f2;
  }

  &-youtube {
    color: #ff0000;
  }
}

.theme-toggle {
  color: yellow;

   &:active,
   &:focus,
   &:hover {
    color: yellow !important;
  }
}

.version-not-supported {
  color: red;

  &:empty {
    display: none;
  }
}

.version-supported {
  color: initial;
}

// Fonts
@font-face {
  font-family: "Colonial Dame";
  src: url("../fonts/Colonial Dame.ttf");
}

@media screen and (max-width: 576px) {
  .infobox {
    float: none;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {

  .perm {
    font-size: .9rem;
  }

  td {
    border-top: none !important;
  }

  tr {
    border-top: 1px solid #dee2e6;
  }
}

@media(prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}

body {
  background: transparent;
  font-family: Fondamento, Roboto, sans-serif;
  margin: 0;
}

footer.ribbon {
  clear: both;
  position: relative;
}

h1 {
  text-align: center;
}

// STYLES
html {
  scroll-behavior: smooth;
}

// Dark mode
html[data-theme="dark"] {
  @import "dark-mode.scss";
}

img {
  height: auto;
  max-width: 100%;
}

/* PRE is used for certain example files on the datapack page to make them show in-line */
pre {
  background-color: gainsboro;
  font-family: "Courier New" Courier monospace;
}

table {
  background-color: transparent;
  margin-bottom: 1rem;
}

table td,
table th {
  border-top: 1px solid #e9ecef;
  padding: .75rem;
  vertical-align: top;
}

table thead th {
  border-bottom: 2px solid #e9ecef;
  vertical-align: bottom;
}
