---
import { getEntry } from 'astro:content';

interface Props {
  key: string;
}

const { key } = Astro.props;
const meta = await getEntry('meta', 'meta');
const metadata = meta.data.find((entry) => entry.key === key);
---

<span>{metadata?.value}</span>
