---
import { type SocialKeys, socials } from '@utils/social';

interface Props {
  name: SocialKeys;
}

const { name } = Astro.props;
const social = socials[name];
---

<a href={social.link}>{social.name}</a>
