---
import type { CollectionEntry } from 'astro:content';

import ItemImage from '../images/ItemImage.astro';

interface Props {
  items: (CollectionEntry<'items'> | undefined)[];
  amount?: number;
  large?: boolean;
}

const { items, amount = 1, large = false } = Astro.props;
---

<div class:list={['invslot', large ? 'invslot-large' : '']} data-slideshow-slot>
  {
    items.map((item, i) => (
      <div
        class="invslot-item"
        data-item-id={item?.id ?? ''}
        style={
          i > 0
            ? 'position: absolute; top: 0; left: 0; opacity: 0; transition: opacity 0.3s ease;'
            : 'transition: opacity 0.3s ease;'
        }
      >
        <div class="invslot-wrapper">{item && <ItemImage item={item} size={32} />}</div>
        {item && <span class="invslot-tooltip">{item.data.name}</span>}
      </div>
    ))
  }

  {
    amount > 1 && (
      <div class="invslot-stacksize">
        <span>{amount}</span>
      </div>
    )
  }
</div>

<style lang="scss">
  @import '../../../css/bootstrap-vars';

  img {
    max-width: none;
  }

  .invslot {
    --invslot-size: 2em;
    display: inline-block;
    position: relative;
    width: var(--invslot-size);
    height: var(--invslot-size);
    background: #8b8b8b;
    border: 2px solid;
    border-color: #373737 #fff #fff #373737;

    &.invslot-large {
      --invslot-size: 3em;
    }

    &::before,
    &::after {
      background-color: #8b8b8b;
      content: '';
      height: 2px;
      position: absolute;
      width: 2px;
    }

    &::before {
      bottom: -2px;
      left: -2px;
    }

    &::after {
      right: -2px;
      top: -2px;
    }

    .invslot-item {
      width: 100%;
      height: 100%;
    }

    .invslot-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(var(--invslot-size) - 4px);
      height: calc(var(--invslot-size) - 4px);
    }

    .invslot-stacksize {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #fff !important;
      text-shadow: 2px 2px 0 #3f3f3f;
      filter: dropshadow(color=#3F3F3F, offx=2, offy=2);
      z-index: 1;
    }

    .invslot-tooltip {
      position: absolute;
      bottom: calc(100% + 8px);
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;

      width: max-content;
      max-width: 200px;

      padding: 0.25rem 0.5rem;
      background: white;
      color: black;
      border: 1px solid $secondary-border-subtle;
      border-radius: 0.375rem;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

      font-size: 0.8rem;
      line-height: 1.5;
      white-space: nowrap;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition:
        opacity 0.15s ease-in-out,
        visibility 0.15s ease-in-out;

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border: 6px solid transparent;
        border-top-color: $secondary-border-subtle;
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border: 5px solid transparent;
        border-top-color: white;
        margin-top: -1px;
      }
    }

    &:hover .invslot-tooltip {
      opacity: 1;
      visibility: visible;
    }

    .inv-sprite {
      width: calc(2em - 4px);
      height: calc(2em - 4px);
    }
  }
</style>
