---
import { getEntry } from 'astro:content';
import { type CollectionEntry } from 'astro:content';

import type { RecipeSchema } from '../../../schemas/item';
import { resolveSlots } from '../../../util/recipe';
import VersionSlideshow from '../../common/version/VersionSlideshow.astro';
import RecipeSlot from './RecipeSlot.astro';

interface Props {
  recipe: Extract<RecipeSchema, { type: 'smelting' }>;
  version: CollectionEntry<'versions'>;
}

const { recipe, version } = Astro.props;

const output = await getEntry(recipe.output);
const { frames } = await resolveSlots([recipe.item]);

const group = `smelting-${Math.random().toString(36).slice(2)}`;
---

<VersionSlideshow version={version} group={group}>
  <div class="recipe-frame">
    <div class="input">
      <RecipeSlot items={frames.map((frame) => frame[0])} />
    </div>
    <div class="furnace">🔥</div>
    <div class="output">
      <RecipeSlot items={[output]} amount={recipe.amount} large />
    </div>
  </div>
</VersionSlideshow>

<style>
  .recipe-frame {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }

  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .furnace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
  }

  .output {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
