{% capture content %}
    {% include contentblock/reuse/header.html header=include.header %}
    <ul>
        {% for setting in site.data.buildinginfo[include.key].settings %}
            <li>
                <strong>{{ setting.name }}:</strong>
                {{ setting.description }}</li>
            {% if setting.options | default: [] != [] %}
                <ul>
                    {% for option in setting.options %}
                        <li>
                            <strong>{{ option.name }}:</strong>
                            {{ option.description }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
{% endcapture %}
{% include contentblock/reuse/core.html content=content image=include.image alt=include.alt %}