<div class="row py-3">
    <div class="col-sm-12 col-md">
        <img src="../../assets/images/gui/minstockgui.png" class="img-fluid mx-auto" alt="Minimum stock GUI">
    </div>
    <div class="col-sm-12 col-md">
        {% if include.header | default: "" | strip != "" %}
        <p>{{ include.header | strip }}</p>
        {% endif %}
        <ul>
            <li><strong> Minimum Stock: </strong> Use this button to tell the {{ include.buildingname | default:
                "building" }} to keep a minimum stock on hand.
                Set items will be displayed above the button.</li>
        </ul>
    </div>
</div>