---
import type { Props as RibbonProps } from './Ribbon.astro';
import Ribbon from './Ribbon.astro';

export interface Props extends RibbonProps {
  center?: boolean;
}

const { center = true, ...rest } = Astro.props;
---

<Ribbon {...rest}>
  <div class="container">
    <div class:list={[center ? 'text-center' : 'text-start', 'm-0', 'py-1']}>
      <slot />
    </div>
  </div>
</Ribbon>
