---
import Ribbon from './Ribbon.astro';

export interface Props {
  image?: string;
  offset?: number;
  textColor?: string;
  class?: string;
  as?: string;
  center?: boolean;
}

const { center = true, ...rest } = Astro.props;
---

<Ribbon {...rest}>
  <div class="container">
    <div class:list={[center ? 'text-center' : 'text-start', 'm-0', 'py-1']}>
      <slot />
    </div>
  </div>
</Ribbon>
