---
interface Props {
  class?: string;
  padding?: number;
  autoSize?: boolean;
}

const { class: cssClass, padding = 1.5, autoSize = false } = Astro.props;
---

<div class:list={['app-card', autoSize ? '' : 'app-card-min', cssClass]} style={{ padding: `${padding}em` }}>
  <slot />
</div>
