---
import Container from './Container.astro';

interface Props {
  title: string;
  center?: boolean;
}

const { center = false } = Astro.props;
---

<div class="ribbon ribbon-secondary">
  <Container>
    <p class:list={[center ? 'text-center' : 'text-start', 'm-0', 'py-1']}>
      {Astro.props.title}
    </p>
  </Container>
</div>
